# sudo: required
# language: node_js

# node_js:
#   - 10

# before_install:
#   - cd ./client-js && npm install && cd .. && cd ./sass && npm install && cd ..

# script:
#   - npm run build
#   - zip -r latest public scripts server storage package.json views package-lock.json appspec.yml
#   - mkdir -p dpl_cd_upload
#   - mv latest.zip dpl_cd_upload/latest.zip

# deploy:
#   - provider: s3
#     access_key_id: $AWS_ACCESS_KEY
#     secret_access_key: $AWS_SECRET_KEY
#     local_dir: dpl_cd_upload
#     skip_cleanup: true
#     on: &2
#       branch: master
#     bucket: pagher-deployment-storage
#     region: us-east-1
#   - provider: codedeploy
#     access_key_id: $AWS_ACCESS_KEY
#     secret_access_key: $AWS_SECRET_KEY
#     bucket: pagher-deployment-storage
#     key: latest.zip
#     bundle_type: zip
#     application: appDeployment
#     deployment_group: pagherGroupDeployment
#     region: us-east-1
#     on: *2
