.button {
  border: none;
  line-height: 0;
  border-radius: 0.7rem;
  padding: 1.9rem 2rem;
  font-size: 1.6rem;
  transition: all 0.2s;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  align-items: center;
  justify-content: center;
  height: 1px;
  display: flex;
  align-items: center;
  font-family: inherit;

  &:hover {
      color: inherit;
  }

  &-rounded {
      border-radius: 500px !important;
  }

  &-block {
      width: 100%;
  }

  &__icon-left {
    margin-right: 0.5rem;
  }

  &__icon-right {
    margin-left: 0.5rem;
  }
}

// colors
.button-default {
  background: #e1e0e0;
  color: #5c5b5b;
  border: 1px solid #dcdada;

  &:hover {
    background-color: darken(#e1e0e0, 8%);
    border-color: darken(#e1e0e0, 8%);
    color: #5c5b5b;
  }

  &:focus {
      box-shadow: 0 0 0 3px rgba(#e1e0e0, 0.3);
  }

  &:disabled {
      cursor: not-allowed;
      background: #ebebe4;
      border-color: #ccc;
      color: #757575;

      &:hover {
        background: #ebebe4;
        border-color: #ccc;
        color: #757575;
      }
  }

  &-outlined {
      background-color: transparent;
      color: #5c5b5b;
      border: 1px solid #5c5b5b;

      &:hover,
      &:active {
          background-color: #5c5b5b;
          color: #fff;
      }

      &:focus {
          box-shadow: 0 0 0 3px rgba(#5c5b5b, 0.3);
      }

      &:disabled {
          cursor: not-allowed;
          border-color: lighten(#5c5b5b, 20%);
          background-color: #fff;
          color: lighten(#5c5b5b, 20%);

          &:hover {
              border-color: lighten(#5c5b5b, 20%);
          }
      }
  }
}

.button-blue {
  color: #fff;
  background-color: $color-blue;
  border: 1px solid $color-dark-blue;


  &:hover {
      color: #fff;
      background-color: darken($color-blue, 5%);
      border-color: darken($color-blue, 5%);
  }

  &:focus {
      box-shadow: 0 0 0 3px rgba($color-blue, 0.3);
  }

  &:disabled {
      cursor: not-allowed;
      background: lighten($color-blue, 20%);
      border-color: lighten($color-blue, 20%);

      &:hover {
          background: lighten($color-blue, 20%);
          border-color: lighten($color-blue, 20%);
      }
  }

  &-outlined {
      background-color: transparent;
      color: $color-blue;
      border: 1px solid $color-blue;

      &:hover,
      &:active {
          background-color: $color-blue;
          color: #fff;
      }

      &:focus {
          box-shadow: 0 0 0 3px rgba($color-blue, 0.3);
      }

      &:disabled {
          cursor: not-allowed;
          border-color: lighten($color-blue, 20%);
          background-color: transparent;
          color: lighten($color-blue, 20%);

          &:hover {
              border-color: lighten($color-blue, 20%);
          }
      }
  }
}


.button-gray {
  background-color: $color-gray;
  color: #fff;
  border: 1px solid $color-gray;

  &:hover {
      color: #fff;
      background-color: darken($color-gray, 5%);
      border-color: darken($color-gray, 5%);
  }

  &:focus {
      box-shadow: 0 0 0 3px rgba($color-gray, 0.3);
  }

  &:disabled {
      cursor: not-allowed;
      background: lighten($color-gray, 20%);
      border-color: lighten($color-gray, 20%);

      &:hover {
          background: lighten($color-gray, 20%);
          border-color: lighten($color-gray, 20%);
      }
  }

  &-outlined {
      background-color: transparent;
      color: $color-gray;
      border: 1px solid $color-gray;

      &:hover,
      &:active {
          background-color: $color-gray;
          color: #fff;
      }

      &:focus {
          box-shadow: 0 0 0 3px rgba($color-gray, 0.3);
      }

      &:disabled {
          cursor: not-allowed;
          border-color: lighten($color-gray, 20%);
          background-color: #fff;
          color: lighten($color-gray, 20%);

          &:hover {
              border-color: lighten($color-gray, 20%);
          }
      }
  }
}

.button-red {
  background-color: $color-red;
  color: #fff;
  border: 1px solid $color-red;

  &:hover {
      color: #fff;
      background-color: darken($color-red, 5%);
      border-color: darken($color-red, 5%);
  }

  &:focus {
      box-shadow: 0 0 0 3px rgba($color-red, 0.3);
  }

  &:disabled {
      cursor: not-allowed;
      background: lighten($color-red, 20%);
      border-color: lighten($color-red, 20%);

      &:hover {
          background: lighten($color-red, 20%);
          border-color: lighten($color-red, 20%);
      }
  }

  &-outlined {
      background-color: transparent;
      color: $color-red;
      border: 1px solid $color-red;

      &:hover,
      &:active {
          background-color: $color-red;
          color: #fff;
      }

      &:focus {
          box-shadow: 0 0 0 3px rgba($color-red, 0.3);
      }

      &:disabled {
          cursor: not-allowed;
          border-color: lighten($color-red, 20%);
          background-color: #fff;
          color: lighten($color-red, 20%);

          &:hover {
              border-color: lighten($color-red, 20%);
          }
      }
  }
}

.button-green {
  background-color: $color-green;
  color: #fff;
  border: 1px solid $color-green;

  &:hover {
      color: #fff;
      background-color: darken($color-green, 5%);
      border-color: darken($color-green, 5%);
  }

  &:focus {
      box-shadow: 0 0 0 3px rgba($color-green, 0.3);
  }

  &:disabled {
      cursor: not-allowed;
      background: lighten($color-green, 20%);
      border-color: lighten($color-green, 20%);

      &:hover {
          background: lighten($color-green, 20%);
          border-color: lighten($color-green, 20%);
      }
  }

  &-outlined {
      background-color: transparent;
      color: $color-green;
      border: 1px solid $color-green;

      &:hover,
      &:active {
          background-color: $color-green;
          color: #fff;
      }

      &:focus {
          box-shadow: 0 0 0 3px rgba($color-green, 0.3);
      }

      &:disabled {
          cursor: not-allowed;
          border-color: lighten($color-green, 20%);
          background-color: #fff;
          color: lighten($color-green, 20%);

          &:hover {
              border-color: lighten($color-green, 20%);
          }
      }
  }
}

// Size modifiers
.button-small {
  padding: 1.5rem 1.2rem;
  font-size: 1.4rem;
  border-radius: 0.5rem;
}


.button-big {
  font-size: 2rem;
  font-weight: 300;
  padding: 2.2rem 2.6rem;
}

// Types
.button-text {
  background-color: transparent;
  border: none;
  padding-top: 0;
  padding-bottom: 0;
  color: $color-blue;
  font-size: inherit;
  font-weight: 400;
  cursor: pointer;

  &--big {
    font-size: 1.9rem;
  }

  &:hover,
  &:focus {
      text-decoration: underline !important;
  }



  &:disabled {
      cursor: not-allowed;
      text-decoration: none;

      &:hover {
          text-decoration: none;
      }
  }
}

.button-text-default {
  color: $color-default;

  &:hover {
      color: $color-default;
  }

  &:disabled {
      background: lighten($color-default, 20%);

      &:hover {
          background: lighten($color-default, 20%);
      }
  }
}

.button-text-gray {
  color: $color-text;

  &:hover {
      color: $color-text;
  }

  &:disabled {
      background: lighten($color-text, 20%);

      &:hover {
          background: lighten($color-text, 20%);
      }
  }
}


// LEGACY


// ** normal buttons  ** //
.btn {
  display: inline-block;
  position: relative;
  text-decoration: none;
  line-height: inherit;
  font-family: inherit;
  font-size: inherit;
  letter-spacing: 1px;
  padding: 0.4rem 1.4rem;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.2s;

  &:focus {
    outline: none;
  }
}

.btn-default {
  background: #e1e0e0;
  color: #5c5b5b;
  border: 1px solid #dcdada;

  &:hover,
  &:focus {
    background-color: darken(#e1e0e0, 8%);
  }
}

.btn-blue {
  color: #fff;
  background-color: $color-blue;
  border: 1px solid $color-dark-blue;

  &:hover,
  &:focus {
    background-color: darken($color-blue, 8%);
  }
}

.btn-blue-o {
  color: $color-blue;
  background-color: transparent;
  border: 1px solid $color-blue;

  &:hover,
  &:focus {
    color: #fff;
    background-color: $color-blue;
  }
}

.btn-red {
  color: #fff;
  background-color: $color-red;
  border: 1px solid $color-red-dark;

  &:hover,
  &:focus {
    background-color: darken($color-red, 8%);
  }
}

.btn-red-o {
  color: $color-red;
  background-color: transparent;
  border: 1px solid $color-red;

  &:hover,
  &:focus {
    color: #fff;
    background-color: $color-red;
  }
}

.btn-green {
  color: #fff;
  background-color: $color-green;
  border: 1px solid darken($color-green, 8%);

  &:hover,
  &:focus {
    background-color: darken($color-green, 8%);
  }
}

.btn-green-o {
  color: $color-green;
  background-color: transparent;
  border: 1px solid $color-green;

  &:hover,
  &:focus {
    color: #fff;
    background-color: $color-green;
  }
}

.btn-round {
  border-radius: 500px;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-sm {
  font-size: 1.3rem;
  padding: 0.25rem 1.2rem;
}

.btn-big {
  font-size: 2rem;
  padding: 0.5rem 2.8rem;
  font-weight: 300;
}

.btn:disabled {
  cursor: not-allowed;
  background: #ebebe4;
  border: 1px solid #ccc;
  color: #757575;
}

// ** icon buttons  ** //
.btn-i {
  cursor: pointer;
  background: transparent;
  color: $color-text;
  border: none;
  font-size: 1.6rem;

  i {
    color: inherit;
    font-size: inherit;
  }

  &:hover,
  &:focus {
    color: darken($color-text, 10%);
  }

  &:active {
    outline: none;
  }
}

.btn-i-big {
  font-size: 1.9rem;
}

.btn-i-blue {
  color: $color-blue;

  &:hover,
  &:focus {
    color: $color-dark-blue;
  }
}

.btn-i-red {
  color: $color-red;

  &:hover,
  &:focus {
    color: $color-red-dark;
  }
}

.btn-i-white {
  color: #e6e6e6;

  &:hover,
  &:focus {
    color: darken(#e6e6e6, 10%);
  }
}

// ** text buttons  ** //
.btn-text {
  cursor: pointer;
  color: $color-blue;
  background: transparent;
  border: none;
  font-size: inherit;
  transition: all 0.2s;

  i {
    margin-left: 4px;
  }

  &:hover {
    color: $color-dark-blue;
  }
}

.btn-text-red {
  color: $color-red;

  &:hover {
    color: $color-red-dark;
  }
}

.btn-text:disabled {
  color: #757575;
  cursor: not-allowed;
}

.btn-text-underlined {
  &:hover {
    text-decoration: underline;
  }
}

.btn-text-big {
  font-size: 1.9rem;
}

// ** lined buttons  ** //
.lined-btns {
  display: flex;
  justify-content: space-between;
  font-size: 2.4rem;

  .btn-lined {
    font-size: inherit;
    font-weight: 700;
    padding-bottom: 0.7rem;
    padding-right: 0.4rem;
    margin-bottom: 3rem;
    color: rgba($color-blue, 0.5);
    border: none;
    border-bottom: 5px solid rgba($color-blue, 0.5);
    transition: all 0.2s;
    cursor: pointer;

    &:hover {
      color: rgba($color-blue, 0.9);
      border-bottom: 5px solid rgba($color-blue, 0.9);
    }

    &--active {
      color: rgba($color-blue, 0.9);
      border-bottom: 5px solid rgba($color-blue, 0.9);
    }
  }
}

.lined-btns-big {
  font-size: 2.8rem;
}

.lined-btns-2 {
  display: flex;
  justify-content: center;
  font-size: 1.6rem;
  color: $color-text;

  .btn-lined {
    padding: 0 0.8rem;
    font-weight: 400;
    font-size: 1.4rem;
    padding-bottom: 1rem;
    margin-bottom: 0rem;
    color: inherit;
    border: none;
    width: 12rem;
    text-transform: uppercase;
    text-align: center;

    &:not(:last-child) {
      margin-right: 22rem;
    }

    &:hover {
      border-bottom: 4px solid rgba(#2980b9, 0.8);
    }

    &--active {
      border-bottom: 4px solid #2980b9;

      &:hover {
        border-bottom: 4px solid #2980b9;
      }
    }
  }
}

// ** dropdown button  ** //
.dropdown {
  position: relative;
  z-index: 99;

  &--close &__content {
    display: none;
  }

  &--open &__content {
    display: block;
    animation: scaleInDropdowns 0.1s ease;
  }

  &--open.dropdown-mini &__content {
    display: block;
    animation: scaleInMiniDropdowns 0.1s ease;
  }

  &--open button {
    background: #297fb92b;
  }

  button {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 1rem 2rem;

    i {
      margin-left: 4px;
    }
  }

  &__content {
    list-style-type: none;
    border: 1px solid #eee;
    border-radius: 5px;
    position: absolute;
    width: 23rem;
    font-size: 1.5rem;
    top: 3.8rem;
    right: 50%;
    transform: translateX(50%);
    box-shadow: 0px 5px 5px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.1s;
  }

  &-mini &__content {
    width: 10rem;
    font-size: inherit;
    top: -1.5rem;
    right: -6rem;
    transform: translateX(0);

    a i {
      margin-right: 0.6rem;
      font-size: 115%;
    }
  }

  &__item {
    background-color: #fff;
    display: block;
    color: inherit;
    padding: 0.8rem 1.2rem;

    &:last-child {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    &:first-child {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    &:not(:last-child) {
      border-bottom: 1px solid #eee;
    }

    &:hover {
      background-color: #fcfcfc;
    }

    &--active {
      background-color: #f2f2f2;

      &:hover {
        background-color: #f2f2f2;
      }
    }
  }
}
