#img-preview {
  max-width: 100%;
}

.image__upload--options a:not(:last-child) {
  margin-right: 0.8rem;
}

.image__upload--options {
  width: 100%;
  text-align: right;
  margin: 1rem 0;
}

.file__upload--label {
  border: 1px solid $color-grey-light-3;
  border-radius: 5px;
  width: 100%;
  text-align: center;
  font-size: 1.7rem;
  display: inline-block;
  padding: 0.6rem 1.2rem;
  cursor: pointer;
  background: transparent;
  transition: all 0.2s;
  margin-bottom: 2rem;
  color: $color-text;
}

.file__upload--label {
  margin: 0;
}

.file__upload--label:hover {
  background: #fbfbfb;
}

.image__upload--error {
  color: $color-red;
  font-size: 1.6rem;
  padding-bottom: 0.5rem;
}

p.image__upload--text {
  font-size: 1.7rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.image__upload--crop-msg {
  margin: 1rem 0;
  display: block;
}

input[type="file"] {
  display: none;
}

// The button for opening the modal which shows an image
.img-upload-btn {
  display: flex;
  position: relative;

  &__cover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
  }

  &__content {
    font-size: 2.6rem;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.72);
    border-radius: 1rem;
    padding: 1rem 3rem;
  }

  &:hover &__cover {
    display: flex;
  }
}
