// text form
.form-text {
  position: relative;
  width: 100%;
  font-size: 1.6rem;
  margin-top: 0;
  display: flex;
  flex-direction: column;

  &--textarea {
      .form-text__label {
          top: 2.3rem;
      }

      .form-text__input {
          height: auto;
      }
  }

  &--rounded {
      .form-text__input {
          border-radius: 500px !important;
      }
  }

  &--big {
      .form-text__input {
          padding: 1.4rem 1.6rem;

      }

      .form-text__label {
          left: 1.5rem;
      }
  }

  &--small {
      font-size: 1.3rem;

      .form-text__input {
        padding: 0.8rem 1rem;
        border-radius: 0.3rem;
      }
  }

  &--disabled {
    cursor: not-allowed;

    .form-text__input {
      cursor: not-allowed;
      background: #ebebe4;
    }

    .form-text__label {
      cursor: not-allowed;
      user-select: none;
    }
  }
 
  &--success {
    .form-text__input {
      border: 1px solid $color-green;
    }
  }


  &--error {
      .form-text__input {
        border: 1px solid $color-red;

          &:focus {
            border-color: $color-red-dark;
            outline: 0 none;
          }
      }
  }

  &__label {
      position: absolute;
      left: 1.4rem;
      top: 50%;
      transform: translateY(-50%);
      margin: 0 !important;
      color: #555;
      transition: all 0.1s;
      color: #9c9c9c;
      line-height: 1.6;

      &--top {
          top: 1px !important;
          background: #fff;
          color: $color-text;
          padding: 0 0.7rem;
          font-size: 85%;
      }
  }

  &__input-container {
    display: flex;
    position: relative;
  }

  & .tooltip {
    position: absolute;
    
    top: 50%;
    transform: translate(0, -50%);
    right: 1rem;

    & + .form-text__input {
      padding-right: 3.5rem;
    }
  }

  &__help-icon {
    color: #5D5D5D;
    font-size: 1.5rem;
    display: flex;
    border: 1px solid #5D5D5D;
    border-radius: 500px;
    font-weight: bold;
    width: 2rem;
    height: 2rem;
    align-items: center;
    justify-content: center;
    cursor: help;
    user-select: none;
    transition: all 0.2s;

    &:hover,
    &:focus {
      color: #fff;
      background-color: #5D5D5D;
    }

    
  }

  &__input {
      border: 1px solid #ccc;
      padding: 1.2rem 1.2rem;
      border-radius: 0.5rem;
      font-size: 100%;
      color: #555;
      width: 100%;
      font-family: inherit;

      &:focus {
          border-color: rgba(41, 128, 185, 0.57);
          outline: 0 none;

          & + .form-text__label {
              top: 1px;
              background: #fff;
              color: $color-text;
              padding: 0 0.7rem;
              font-size: 85%;
          }
      }

    

  }

  &__number-indicator {
      font-size: 90%;
      margin-top: 5px;
      text-align: right;
  }
}

.form-group {
  margin: 2.5rem 0;
}

.input-error {
  font-size: 1.4rem;
  color: $color-red;
  display: flex;
  align-items: center;
  line-height: 1;
  margin-top: 1rem;
  margin-bottom: 0.5rem;

  i {
      margin-right: 0.5rem;
  }
}



// LEGACY

.form {
  @include clearfix;

  &__group {
    margin: 2rem 0;
    position: relative;
    &--sm {
      margin: 1rem 0;
    }

    &--error {
      & input,
      & textarea {
        border-color: $color-red;
      }

      & .form__input--message {
        color: $color-red;
      }
    }

    &--success {
      & input,
      & textarea {
        border-color: $color-green;
      }
    }

    & input {
      margin-top: 0.5rem;
    }
  }

  &__group:first-child {
    margin-top: 0;
  }

  &__input,
  &__textarea {
    display: block;
    resize: none;
    color: $color-text;
    font-size: inherit;
    font-family: inherit;
    width: 100%;
    padding: 1.1rem 1.2rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;

    &:focus {
      border-color: rgba(41, 128, 185, 0.57);
      outline: 0 none;
    }
  }

  &__input {
    &--message {
      text-align: left;
      font-size: 1.3rem;
      margin-top: 0.5rem;
    }

    &--disabled {
      cursor: not-allowed;
      background: #ebebe4;
    }
  }

  &__input--lined {
    border: none;
    // border-radius: 0;
    background-color: transparent;
    padding: 0.8rem 0.3rem;
    border-bottom: 1px solid $color-blue;

    &:focus {
      border-bottom: 2px solid $color-blue;
    }
  }

  .form__input__text-label {
    position: absolute;
    top: 4px;
    left: 3px;
    background: #000;
    border-radius: 4px;
    padding: 0.1rem 0.8rem;
    font-size: inherit;
    color: #fff;
  }

  &__label {
    color: $color-text;
    font-size: 1.7rem;
    margin-bottom: 0.5rem;
    display: block;

    &--required-label {
      color: $color-red;
      margin-left: 0.3rem;
    }
  }

  &__len-display {
    background: #888;
    border-radius: 500px;
    padding: 0 0.6rem;
    display: inline-block;
    color: #fff;
    margin-top: 0.6rem;
    float: right;
    @include clearfix;
  }
}

.input__group {
  position: relative;
  display: table;
  border-collapse: separate;

  & input {
    display: table-cell;
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 0;
    margin-top: 0;

    &:first-child {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }

    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  & div {
    border-radius: 4px;
    padding: 0.6rem 1.2rem;
    font-size: $default-font-size;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #fafafa;
    width: 1%;
    display: table-cell;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid #ccc;

    &:first-child {
      border-top-right-radius: 0;
      border-right: 0;
      border-bottom-right-radius: 0;
    }

    &:last-child {
      border-left: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input-digits {
  input {
    display: inline-block;
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 4px;
    text-align: center;
    font-size: 2rem;
    color: #333;
    border: 1px solid #d6d6d6;

    &:disabled {
      background-color: #eee;
      cursor: not-allowed;
    }

    &:focus {
      outline: none;
      border: 3px solid $color-light-blue;
    }

    &:not(:last-child) {
      margin-right: 2.5rem;

      @include res-max(405px) {
        margin-right: 2rem;
      }

      @include res-max(360px) {
        margin-right: 1rem;
      }
    }
  }
}
