/* Loading icon 1 */
@keyframes lds-spinner {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@-webkit-keyframes lds-spinner {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
.lds-spinner {
	position: relative;
	display: inline-block;
}
.lds-spinner div {
	left: 95px;
	top: 42px;
	position: absolute;
	-webkit-animation: lds-spinner linear 0.6s infinite;
	animation: lds-spinner linear 0.6s infinite;
	background: #555555;
	width: 10px;
	height: 32px;
	border-radius: 36%;
	-webkit-transform-origin: 5px 58px;
	transform-origin: 5px 58px;
}
.lds-spinner div:nth-child(1) {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-animation-delay: -0.55s;
	animation-delay: -0.55s;
}
.lds-spinner div:nth-child(2) {
	-webkit-transform: rotate(30deg);
	transform: rotate(30deg);
	-webkit-animation-delay: -0.5s;
	animation-delay: -0.5s;
}
.lds-spinner div:nth-child(3) {
	-webkit-transform: rotate(60deg);
	transform: rotate(60deg);
	-webkit-animation-delay: -0.45s;
	animation-delay: -0.45s;
}
.lds-spinner div:nth-child(4) {
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-animation-delay: -0.4s;
	animation-delay: -0.4s;
}
.lds-spinner div:nth-child(5) {
	-webkit-transform: rotate(120deg);
	transform: rotate(120deg);
	-webkit-animation-delay: -0.35s;
	animation-delay: -0.35s;
}
.lds-spinner div:nth-child(6) {
	-webkit-transform: rotate(150deg);
	transform: rotate(150deg);
	-webkit-animation-delay: -0.3s;
	animation-delay: -0.3s;
}
.lds-spinner div:nth-child(7) {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
	-webkit-animation-delay: -0.25s;
	animation-delay: -0.25s;
}
.lds-spinner div:nth-child(8) {
	-webkit-transform: rotate(210deg);
	transform: rotate(210deg);
	-webkit-animation-delay: -0.2s;
	animation-delay: -0.2s;
}
.lds-spinner div:nth-child(9) {
	-webkit-transform: rotate(240deg);
	transform: rotate(240deg);
	-webkit-animation-delay: -0.15s;
	animation-delay: -0.15s;
}
.lds-spinner div:nth-child(10) {
	-webkit-transform: rotate(270deg);
	transform: rotate(270deg);
	-webkit-animation-delay: -0.1s;
	animation-delay: -0.1s;
}
.lds-spinner div:nth-child(11) {
	-webkit-transform: rotate(300deg);
	transform: rotate(300deg);
	-webkit-animation-delay: -0.05s;
	animation-delay: -0.05s;
}
.lds-spinner div:nth-child(12) {
	-webkit-transform: rotate(330deg);
	transform: rotate(330deg);
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
}
.lds-spinner {
	width: 38px !important;
	height: 38px !important;
	-webkit-transform: translate(-19px, -19px) scale(0.19) translate(19px, 19px);
	transform: translate(-19px, -19px) scale(0.19) translate(19px, 19px);
}

/* Loading icon 2 */
.spinner {
	margin: 1rem auto 0.5rem;
	width: 7rem;
	text-align: center;
}

.spinner > div {
	width: 1.8rem;
	height: 1.8rem;
	background-color: #333;

	border-radius: 100%;
	display: inline-block;
	-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}

.spinner .bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
	0%,
	80%,
	100% {
		-webkit-transform: scale(0);
	}
	40% {
		-webkit-transform: scale(1);
	}
}

@keyframes sk-bouncedelay {
	0%,
	80%,
	100% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	40% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}


/* Loading icon 3 */
.lds-ellipsis {
	display: inline-block;
	position: relative;
	width: 2.5rem;
	height: 0.5rem;
}

.lds-ellipsis div {
	position: absolute;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: #fff;
	animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div.lds-ellipsis--default {
	background: $color-default;
}

.lds-ellipsis div.lds-ellipsis--dark {
	background: $color-text;
}

.lds-ellipsis div.lds-ellipsis--blue {
	background: $color-blue;
}


.lds-ellipsis div.lds-ellipsis--green {
	background: $color-green;
}

.lds-ellipsis div.lds-ellipsis--light {
	background: #fff;
}

.lds-ellipsis div:nth-child(1) {
	left: 3px;
	animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
	left: 3px;
	animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
	left: 12px;
	animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
	left: 16px;
	animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
	0% {
			transform: scale(0);
	}
	100% {
			transform: scale(1);
	}
}
@keyframes lds-ellipsis3 {
	0% {
			transform: scale(1);
	}
	100% {
			transform: scale(0);
	}
}
@keyframes lds-ellipsis2 {
	0% {
			transform: translate(0, 0);
	}
	100% {
			transform: translate(8px, 0);
	}
}
