#snackbar {
  min-width: 25rem;
  background-color: $color-grey-dark-3;
  border-radius: 5px;
  font-size: 1.6rem;
  color: #fff;
  text-align: center;
  padding: 1.6rem;
  position: fixed;
  z-index: 999999999;
  left: 50%;
  transform: translateX(-50%);
  bottom: 3rem;
  box-shadow: $default-box-shadow;
}

#snackbar.show {
  display: block;
  animation: fadein-snackbar 0.4s;
}

#snackbar.hide {
  animation: fadeout-snackbar 0.4s;
}

#snackbar.success {
  background-color: $color-green;
}

#snackbar.error {
  background-color: $color-red;
}
