.sidebar {
  background-color: #1c262f;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 27rem;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 999;

  @media (max-width: 62.5em) {
    left: -35rem;
    border-right: 1px solid rgb(190, 190, 190);
    background: rgb(240, 240, 240);
    box-shadow: 0 0rem 1rem rgba(0, 0, 0, 0.4);
  }
}

.sidebar__opener {
  display: none;
  position: absolute;
  margin: 2.5rem 0 0 3rem;

  .bar {
    width: 22px;
    height: 2px;
    background-color: #1c262f;
    margin: 5px 0;
  }

  & button {
    font-size: 3rem;
    border: none;
    background: transparent;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }

  & i {
    color: #1c262f;
  }

  @media (max-width: 62.5em) {
    display: inline-block;
  }
}

.sidebar__closer {
  font-size: 4.5rem;
  font-weight: 200;
  position: absolute;
  right: 1.1rem;
  top: 1rem;
  background: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
  z-index: 2000;
  display: none;

  &:focus {
    outline: none;
    color: rgb(20, 20, 20);
  }

  @media (max-width: 62.5em) {
    display: inline-block;
    color: rgb(70, 70, 70);
    &:hover {
      color: rgb(20, 20, 20);
    }
  }
}

.sidebar--open {
  left: 0 !important;
  animation: moveRight 0.3s ease-out;
}

.sidebar--close {
  @media (max-width: 62.5em) {
    animation: moveLeft 0.3s linear;
    left: -35rem !important;
  }
}

.side-nav {
  padding-top: 3rem;

  @media (max-width: 62.5em) {
    padding-top: 1.5rem;
  }

  &__logo {
    position: relative;
    margin-left: 2rem;
    margin-bottom: 2.3rem;
    list-style: none;

    span {
      font-weight: 300;
      font-size: 2.6rem;
      text-transform: uppercase;
      letter-spacing: 11px;

      @media (max-width: 62.5em) {
        color: rgb(70, 70, 70);
      }
    }
  }

  &__item {
    font-size: 1.7rem;
    margin-bottom: 4rem;
    padding: 1rem 4rem;
    display: block;
    transition: all 0.2s;

    a {
      @media (max-width: 62.5em) {
        color: rgb(70, 70, 70);

        &:hover {
          color: rgb(20, 20, 20);
        }
      }
    }

    &--active {
      background: #fff;
      border-right: 1px solid #1c262f;
      border-left: 1px solid #1c262f;

      @media (max-width: 62.5em) {
        border: none;
      }

      & a {
        color: #1c262f;

        &:hover {
          color: #1c262f;
        }
      }
    }
  }

  &__link {
    color: #fff;
    text-decoration: none;
    transition: all 0.2s;
    border-bottom: none;

    i {
      font-size: 2.8rem;
      margin-right: 2rem;
      vertical-align: top;
      width: 3rem;
    }

    &:hover {
      color: $color-text-dark;
      border-bottom: none;
    }
  }
}

.side-bottom {
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}
