<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400" rel="stylesheet">
    <link rel="stylesheet" href="/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/style.css">
    <title>Pagher</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="apple-mobile-web-app-title" content="Pagher">
    <meta name="application-name" content="Pagher">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#ffffff">
  </head>

  <body>

    <nav class="navigation navigation-md">
      <a href="javascript:void(0)" onclick="sidenavTogglerClicked()" class="navigation__link navigation__link--icon"><i
          class="fa fa-bars" aria-hidden="true"></i></a>
      <a href="/" class="navigation__logo"><img id="pagherLogoMd" src="/images/pagher-logo.svg"
          alt="Pagher logo">Pagher</a>

      <div class="navigation__right">
        <a href="/new-page/initial-step" class="navigation__link navigation-btn js--create-page">Create a Page</a>
        <a href="/login" class="navigation__link display-none" id="js--login-md">Login</a>
        <div class="nav-dropdown display-none" id="js--nav-dropdown-md">
          <div class="nav-dropdown__button" onclick="navDropdownClicked()">
            <a href="javascript:void(0);"><img class="js--user-image" src="/images/users/placeholder.png"></a>
          </div>
          <div class="nav-dropdown__content display-none">
            <a href="/profile"><i class="fa fa-user"></i> Profile</a>
            <a href="/settings"><i class="fa fa-cogs"></i> Setting</a>
            <a href="javascript:void(0);" onclick="localStorage.removeItem('token');window.location = '/';"><i
                class="fa fa-sign-out"></i> Logout</a>
            <span class="switch-theme__text">Theme:</span>
            <div class="switch-theme">
              <span class="switch-theme__light"></span>
              <label class="switch">
                <input type="checkbox" class="js--themeSwitch">
                <span class="slider round"></span>
              </label>
              <span class="switch-theme__dark"></span>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <nav class="navigation navigation-sm">
      <a href="javascript:void(0)" onclick="sidenavTogglerClicked()" class="navigation__link navigation__link--icon"><i
          class="fa fa-bars" aria-hidden="true"></i></a>
      <a href="/" class="navigation__logo"><img id="pagherLogoSm" src="/images/pagher-logo.svg"
          alt="Pagher logo">Pagher</a>
      <div class="navigation__right">

        <a href="/new-page/initial-step" class="navigation__right-link navigation-btn js--create-page"><i
            class="fa fa-pencil-square-o"></i></a>
        <a href="/login" class="navigation__right-link display-none" id="js--login-sm">Login</a>
        <div class="nav-dropdown display-none" id="js--nav-dropdown-sm">
          <div class="nav-dropdown__button" onclick="navDropdownClicked()">
            <a href="javascript:void(0);"><img class="js--user-image" src="/images/users/placeholder.png"></a>
          </div>
          <div class="nav-dropdown__content display-none">
            <a href="/profile"><i class="fa fa-user"></i> Profile</a>
            <a href="/settings"><i class="fa fa-cogs"></i> Setting</a>
            <a href="javascript:void(0);" onclick="localStorage.removeItem('token');window.location = '/';"><i
                class="fa fa-sign-out"></i> Logout</a>
            <span class="switch-theme__text">Theme:</span>
            <div class="switch-theme">
              <span class="switch-theme__light"></span>
              <label class="switch">
                <input type="checkbox" class="js--themeSwitch">
                <span class="slider round"></span>
              </label>
              <span class="switch-theme__dark"></span>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <br><br><br><br><br><br><br>

    <div class="react-container" name="main"></div>

    <br><br><br><br><br><br><br><br><br><br><br>

    <div id="snackbar"></div>
    <div class='cupertino-modal-container cupertino-modal-container--light display-none' id="loading-modal">
      <div class="cupertino-modal cupertino-modal--loading">
        <div class="cupertino-modal__content">
          <h3 id="loading-modal-message"></h3>
        </div>
        <div class="center-content">
          <div class="lds-css ng-scope">
            <div class="lds-spinner">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include("partials/footer") %>

    <script src="/bundle.js"></script>
  </body>

</html>