<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400" rel="stylesheet">
    <link rel="stylesheet" href="/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/style.css">
    <title>Public Profile | Pagher</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="apple-mobile-web-app-title" content="Pagher">
    <meta name="application-name" content="Pagher">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#ffffff">
  </head>

  <body>

    <%- include("partials/header") %>

    <div class="pb-banner">
      <div class="row">
        <h1>Joseph H.</h1>
        <h2>Software Engineer</h2>
      </div>
    </div>

    <div class="row margin-bottom-8">
      <div class="col-lg-1-of-3">
        <div class="pb-left-items">
          <img src="/images/users/placeholder.png" alt="">
          <a href="" class="btn-i btn-i-blue"><i class="fa fa-linkedin" aria-hidden="true"></i>
        </div>
        </a>
      </div>
      <div class="col-lg-2-of-3 ">
        <div class="pb-right-items">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, perspiciatis. Nobis, totam nesciunt
            cupiditate
            adipisci consequatur reiciendis cumque laudantium? Officiis quod blanditiis ducimus minus quisquam numquam
            illum
            mollitia explicabo reprehenderit.</p>
        </div>
      </div>
    </div>

    <div class="react-container" name="publicProfile"></div>


    <div class='cupertino-modal-container cupertino-modal-container--light display-none' id="loading-modal">
      <div class="cupertino-modal cupertino-modal--loading">
        <div class="cupertino-modal__content">
          <h3 id="loading-modal-message"></h3>
        </div>
        <div class="center-content">
          <div class="lds-css ng-scope">
            <div class="lds-spinner">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include("partials/footer") %>

    <script src="/bundle.js"></script>
  </body>

</html>