// Shaking and element
@keyframes shake {
  5%,
  15%,
  25%,
  35%,
  45%,
  55%,
  65%,
  75%,
  85%,
  95% {
    transform: rotate(0.3deg);
  }

  10%,
  20%,
  30%,
  40%,
  50%,
  60%,
  70%,
  80%,
  90%,
  100% {
    transform: rotate(-0.3deg);
  }
}

// Scale an element in
@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(1.05);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

// Scale the dropdown buttons in
@keyframes scaleInDropdowns {
  from {
    opacity: 0;
    transform: translateX(50%) scale(0.9);
  }
  to {
    opacity: 1;
    transform: translateX(50%) scale(1);
  }
}

// Scale the cupertino modal in
@keyframes scaleInCupertinoMdl {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.05);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

// Fade in animation for snackbar
@keyframes fadein-snackbar {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 3rem;
    opacity: 1;
  }
}

// Fade out animation for snackbar
@keyframes fadeout-snackbar {
  from {
    bottom: 3rem;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
