.a-1 {
  padding-top: 7rem;
  font-weight: 300;
  color: $color-text;
  font-size: 2.8rem;
}

// container div for private pages
.a-2 {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

// container div for pages section in admin
.a-3 {
  display: flex;
  flex-wrap: wrap;
}

.a-4 {
  padding-top: 7rem;
  font-weight: 300;
  color: $color-text;
  font-size: 2.4rem;
}

.a-5 {
  padding-top: 0.1rem;
}

.a-6 {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.a-8 {
  min-height: 100vh;
}

.a-9 {
  font-size: 1.4rem;
  color: $color-text;
  margin: 2.5rem 0 0.5rem 0;
}

// Error message in choosing a url
.a-10 {
  font-size: 1.4rem;
  color: $color-red;
  margin-top: 0.3rem;
  display: inline-block;
}

// Back button on new page
.a-11 {
  top: 1.8rem;
  position: absolute;
  left: 1.3rem;
}

// Inline buttons in admin
.a-12 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 0;

  @media (max-width: 500px) {
    flex-direction: column;
  }
}
