.right-content {
  width: 100%;
  text-align: right !important;
}

.center-content {
  width: 100%;
  text-align: center;
}

.left-content {
  width: 100%;
  text-align: left;
}

.visibility-hidden {
  visibility: hidden !important;
}

.disable-none {
  display: none !important;
}

.display-none-normall {
  display: none;
}

.display-none {
  display: none !important;
}

.display-flex {
  display: flex !important;
}

.display-inline-block {
  display: inline-block !important;
}

.float-right {
  float: right;
}

.margin-right-3px {
  margin-right: 3px !important;
}

.margin-right-1 {
  margin-right: 1rem !important;
}

.margin-left-3 {
  margin-left: 3rem;
}

.margin-left-2 {
  margin-left: 2rem;
}

.margin-left-07 {
  margin-left: 0.7rem !important;
}

.margin-top-5px {
  margin-top: 5px;
}

.margin-top-1 {
  margin-top: 1rem !important;
}

.margin-top-1-5 {
  margin-top: 1.5rem !important;
}

.margin-top-2 {
  margin-top: 2rem !important;
}

.margin-top-3 {
  margin-top: 3rem !important;
}

.margin-top-4 {
  margin-top: 4rem !important;
}

.margin-bottom-0 {
  margin-bottom: 0rem !important;
}

.margin-bottom-08 {
  margin-bottom: 0.8rem !important;
}

.margin-bottom-1 {
  margin-bottom: 1rem !important;
}

.margin-bottom-2 {
  margin-bottom: 2rem !important;
}

.margin-bottom-8 {
  margin-bottom: 8rem !important;
}

.no-transform {
  transform: none;
  &:hover {
    transform: none !important;
  }

  &:focus {
    transform: none !important;
  }
}

.italic {
  font-style: italic !important;
}

.margin-bottom-0 {
  margin-bottom: 0 !important;
}

.u-two-item-row {
  display: block;

  &--1 {
    display: inline-block;
    @media only screen and (max-width: 500px) {
      display: block;
    }
  }

  &--2 {
    display: inline-block;
    float: right;

    @media only screen and (max-width: 500px) {
      margin-top: 2rem;
      display: block;
    }
  }
}
