// ** normal buttons  ** //
.btn {
  display: inline-block;
  position: relative;
  text-decoration: none;
  line-height: inherit;
  font-family: inherit;
  font-size: inherit;
  letter-spacing: 1px;
  padding: 0.4rem 1.4rem;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.2s;

  &:focus {
    outline: none;
  }
}

.btn-default {
  background: #e1e0e0;
  color: #5c5b5b;
  border: 1px solid #dcdada;

  &:hover,
  &:focus {
    background-color: darken(#e1e0e0, 8%);
  }
}

.btn-blue {
  color: #fff;
  background-color: $color-blue;
  border: 1px solid $color-dark-blue;

  &:hover,
  &:focus {
    background-color: darken($color-blue, 8%);
  }
}

.btn-blue-o {
  color: $color-blue;
  background-color: transparent;
  border: 1px solid $color-blue;

  &:hover,
  &:focus {
    color: #fff;
    background-color: $color-blue;
  }
}

.btn-red {
  color: #fff;
  background-color: $color-red;
  border: 1px solid $color-red-dark;

  &:hover,
  &:focus {
    color: #fff;
    background-color: darken($color-red, 8%);
  }
}

.btn-round {
  border-radius: 500px;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-sm {
  font-size: 1.3rem;
  padding: 0.25rem 1.2rem;
}

.btn-big {
  font-size: 2rem;
  padding: 0.5rem 2.8rem;
  font-weight: 300;
}

.btn:disabled {
  cursor: not-allowed;
  background: #ebebe4;
  border: 1px solid #ccc;
  color: #757575;
}

// ** icon buttons  ** //
.btn-i {
  cursor: pointer;
  background: transparent;
  color: $color-text;
  border: none;
  font-size: 1.6rem;

  &:hover,
  &:focus {
    color: darken($color-text, 10%);
  }

  &:focus {
    outline: none;
  }
}

.btn-i-big {
  font-size: 1.9rem;
}

.btn-i-blue {
  color: $color-blue;

  &:hover,
  &:focus {
    color: $color-dark-blue;
  }
}

.btn-i-white {
  color: #e6e6e6;

  &:hover,
  &:focus {
    color: darken(#e6e6e6, 10%);
  }
}

// ** text buttons  ** //
.btn-text {
  cursor: pointer;
  color: $color-blue;
  background: transparent;
  border: none;
  font-size: inherit;
  transition: all 0.2s;

  i {
    margin-left: 4px;
  }

  &:hover {
    color: $color-dark-blue;
  }
}

.btn-text-red {
  color: $color-red;

  &:hover {
    color: $color-red-dark;
  }
}

.btn-text-red:disabled {
  color: #757575;
  cursor: not-allowed;
}

.btn-text-underlined {
  &:hover {
    text-decoration: underline;
  }
}

.btn-text-big {
  font-size: 1.9rem;
}

// ** lined buttons  ** //
.lined-btns {
  display: flex;
  justify-content: space-between;
  font-size: 2.4rem;
}

.lined-btns-big {
  font-size: 2.8rem;
}

.btn-lined {
  font-size: inherit;
  font-weight: 700;
  padding-bottom: 0.7rem;
  padding-right: 0.4rem;
  margin-bottom: 3rem;
  color: rgba($color-blue, 0.5);
  border: none;
  border-bottom: 5px solid rgba($color-blue, 0.5);
  transition: all 0.2s;
  cursor: pointer;

  &:hover {
    color: rgba($color-blue, 0.9);
    border-bottom: 5px solid rgba($color-blue, 0.9);
  }
}

.btn-lined--active {
  color: rgba($color-blue, 0.9);
  border-bottom: 5px solid rgba($color-blue, 0.9);
}

// ** dropdown button  ** //
.dropdown {
  position: relative;
  z-index: 99;

  &--close &__content {
    display: none;
  }

  &--open &__content {
    display: block;
    animation: ScaleIn 0.1s ease;
  }

  &--open button {
    background: #297fb92b;
  }

  button {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 1rem 2rem;

    i {
      margin-left: 4px;
    }
  }

  &__content {
    list-style-type: none;
    border: 1px solid #eee;
    border-radius: 5px;
    position: absolute;
    width: 23rem;
    font-size: 1.5rem;
    top: 3.8rem;
    right: 50%;
    transform: translateX(50%);
    box-shadow: 0px 5px 5px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.1s;
  }

  &__item {
    background-color: #fff;
    display: block;
    color: inherit;
    padding: 0.8rem 1.2rem;

    &:last-child {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    &:first-child {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    &:not(:last-child) {
      border-bottom: 1px solid #eee;
    }

    &:hover {
      background-color: #fcfcfc;
    }

    &--active {
      background-color: #f2f2f2;

      &:hover {
        background-color: #f2f2f2;
      }
    }
  }
}
