.comment {
  border: 1px solid $color-grey-light-3;
  background-color: #fdfdfd;
  border-radius: 5px;
  padding: 2rem 4rem;
  margin: 4rem 0;
  display: flex;
  flex-direction: column;
  color: $color-text;
  font-size: 1.4rem;

  .comment-replies {
    margin-left: 3rem;
  }

  .comment-replies .comment {
    margin: 1rem 0;
    background-color: #f9f9f9;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;

    &__actions {
      display: flex;
      align-items: center;

      button {
        margin-right: 0.8rem;
        margin-top: -0.3rem;
      }
    }

    &__name-and-date {
      font-size: inherit;
      margin-left: 1rem;
      display: flex;
      flex-direction: column;
      margin-top: 3px;

      .a-2 {
        font-style: italic;
      }
    }

    &__image {
      border-radius: 50%;
      width: 5rem;
      align-self: flex-start;
    }
  }

  &__body {
    font-size: 1.4rem;
    line-height: 2.5rem;
    padding-bottom: 0.5rem;
  }

  &__view-replies {
    text-align: right;
    display: inline-block;
    padding: 0;
    margin-right: -0.5rem;
    font-size: 1.4rem;
  }

  &__ratings {
    display: flex;
    margin-right: 0.5rem;
    margin-top: -0.3rem;

    div {
      button {
        margin-left: 0.4rem;
        margin-top: 0;
      }
    }
  }

  & &__ellipsis {
    margin-right: -1.8rem;
    margin-left: 1.7rem;
    padding: 0;
  }
}

.comment-brief {
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 1rem 2rem;
  color: $color-text;
  font-size: 1.5rem;
  margin-bottom: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__label {
    font-size: 1.5rem;
    margin-bottom: 0.7rem;
    color: $color-text;

    a {
      color: inherit;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  &__go {
    font-size: 2.5rem;
    i {
      font-weight: 900;
    }
  }

  &__date {
    color: rgba($color-text, 0.8);
    font-size: 90%;
    margin-top: 0.5rem;
    font-style: italic;
  }
}
