.form {
  @include clearfix;

  &__group {
    margin: 2rem 0;
    position: relative;
    &--sm {
      margin: 1rem 0;
    }

    &--error {
      & input,
      & textarea {
        border-color: $color-red;
      }

      & .form__input--message {
        color: $color-red;
      }
    }

    &--success {
      & input,
      & textarea {
        border-color: $color-green;
      }
    }

    & input {
      margin-top: 0.5rem;
    }
  }

  &__group:first-child {
    margin-top: 0;
  }

  &__input,
  &__textarea {
    display: block;
    resize: none;
    color: $color-text;
    font-size: inherit;
    font-family: inherit;
    width: 100%;
    padding: 1.1rem 1.2rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;

    &:focus {
      border-color: rgba(41, 128, 185, 0.57);
      outline: 0 none;
    }
  }

  &__input {
    &--message {
      text-align: left;
      font-size: 1.3rem;
      margin-top: 0.5rem;
    }

    &--disabled {
      cursor: not-allowed;
      background: #ebebe4;
    }
  }

  &__input--lined {
    border: none;
    // border-radius: 0;
    padding: 0.8rem 0.3rem;
    border-bottom: 1px solid $color-blue;

    &:focus {
      border-bottom: 2px solid $color-blue;
    }
  }

  .form__input__text-label {
    position: absolute;
    top: 4px;
    left: 3px;
    background: #000;
    border-radius: 4px;
    padding: 0.1rem 0.8rem;
    font-size: inherit;
    color: #fff;
  }

  // .form__input__text-label + input {
  //   padding-left: 7.3rem;
  // }

  &__label {
    color: $color-text;
    font-size: 1.7rem;
    margin-bottom: 0.5rem;
    display: block;

    &--required-label {
      color: $color-red;
      margin-left: 0.3rem;
    }
  }

  &__len-display {
    background: #888;
    border-radius: 500px;
    padding: 0 0.6rem;
    display: inline-block;
    color: #fff;
    margin-top: 0.6rem;
    float: right;
    @include clearfix;
  }
}

.input__group {
  position: relative;
  display: table;
  border-collapse: separate;

  & input {
    display: table-cell;
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 0;
    margin-top: 0;

    &:first-child {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }

    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  & div {
    border-radius: 4px;
    padding: 0.6rem 1.2rem;
    font-size: $default-font-size;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #fafafa;
    width: 1%;
    display: table-cell;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid #ccc;

    &:first-child {
      border-top-right-radius: 0;
      border-right: 0;
      border-bottom-right-radius: 0;
    }

    &:last-child {
      border-left: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input-digits {
  input {
    display: inline-block;
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 4px;
    text-align: center;
    font-size: 2rem;
    color: #333;
    border: 1px solid #d6d6d6;

    &:disabled {
      background-color: #eee;
      cursor: not-allowed;
    }

    &:focus {
      outline: none;
      border: 3px solid $color-light-blue;
    }

    &:not(:last-child) {
      margin-right: 2.5rem;

      @include res-max(405px) {
        margin-right: 2rem;
      }

      @include res-max(360px) {
        margin-right: 1rem;
      }
    }
  }
}
