.selectable-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgb(218, 216, 216);
  border-radius: 5px;
  border-radius: 7px;
  padding: 0.5rem 1.2rem;
  color: inherit;

  &:hover {
    background-color: #fcfcfc;
  }

  &:not(:last-child) {
    margin-bottom: 0.8rem;
  }

  span {
    width: 2rem;
    height: 2rem;
    border-radius: 500px;
    border: 1px solid rgb(208, 206, 206);
  }

  &--selected {
    span {
      background-color: $color-blue;
      border: 1px solid $color-blue;
    }
  }
}
