#myProgress {
	margin: 2rem auto;
	background-color: #ddd;
	border-radius: 5px;
	overflow: hidden;

	@media (max-width: 26.25em) {
		margin: 2rem 0.4rem;
	}
}

#myBar {
	height: 3rem;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	background-color: #2980b9;
}
