.sub-thumbnail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  width: 100%;
  border-radius: 7px;
  background-color: rgba(118, 114, 114, 0.078);
  margin: 1rem 0;
  padding: 1rem 2.4rem;
  color: #333;

  &__info {
    display: flex;
    align-items: center;

    &-image {
      width: 6.5rem;
      border-radius: 500px;
      border: 1px solid rgb(182, 179, 179);
      margin-right: 1rem;
    }

    &-text {
      display: flex;
      flex-direction: column;
    }

    &-name {
      color: lighten($color: #333, $amount: 15);
      font-size: 1.8rem;
    }

    &-headline {
      font-size: 1.4rem;
      color: lighten($color: #333, $amount: 20);
    }
  }
}
