/* GENERAL */
body,
.body-grey {
  background-color: #424047;
}

.a-1 {
  color: #e4e4e5;
}

.black-link {
  color: #e4e4e5;
}

.black-link:hover,
.black-link:focus,
.black-link:active {
  color: #fff;
}

.heading-tertiary,
.heading-fourth,
.heading-fifth {
  color: #e4e4e5;
}

.normal-paragraph {
  color: #e4e4e5;
}

.small-copy {
  color: #e4e4e5;
}

/* AUTH */
.auth {
  background: #424047;
  border-color: #000;
}

#particles-js {
  background: #ccc;
}

.auth__options--register {
  background-color: #2d2b30;
  border-color: #000;
}

.auth__options--login {
  background-color: #2d2b30;
  border-color: #000;
}

.auth__options--register--active {
  border-color: #000;
}

.auth__options {
  color: #e4e4e5;
}

/* NAVIGATION */
.navigation {
  background-color: #373740;
  border-bottom: 1px solid #000000;
  border-top: 1px solid #000000;
}

.navigation a {
  color: #fff;
}

.navigation__link {
  color: #e4e4e5;
}

.navigation__link:hover {
  background-color: #2c2c33;
}

.nav-dropdown__button:hover {
  background-color: #2c2c33 !important;
}

.nav-dropdown:hover .nav-dropdown__button {
  background-color: #2c2c33 !important;
}

.nav-dropdown__content {
  background-color: #373740;
  border: 1px solid #000;
}
.nav-dropdown__content a {
  color: #e4e4e5;
}

.nav-dropdown__content a:hover {
  background-color: #2c2c33;
}

.navigation-sm__hidden a:hover {
  background-color: #2c2c33;
}

.nav-dropdown-slider__content {
  background-color: #373740;
}

.nav-dropdown-slider__button--active {
  background-color: #2c2c33;
}

/* FOOTER */
.footer {
  background: #373740;
  border-color: #000000;
}

.footer__link a {
  color: #e4e4e5;
}

.footer__theme-text {
  color: #e4e4e5;
}

/* MODALS */
.cupertino-modal {
  background: rgba(0, 0, 0, 0.8);
  color: #e4e4e5;
}

.mdl__content {
  background: #555;
}

.mdl__header {
  background: #474545;
  color: #e4e4e5;
  border-color: #000;
}

.mdl__body {
  color: #e4e4e5;
}

.mdl .mdl__close:hover,
.mdl .mdl__close:visited {
  color: #fff;
}

.lds-spinner div {
  background: #e4e4e5;
}

/* FORM AND BUTTONS */
.form__label {
  color: #e4e4e5;
}

.form__input,
.form__textarea {
  color: #e4e4e5;
  background: #555;
  border-color: #bababa;
}

.form__input:focus,
.form__textarea:focus {
  border-color: #fff;
}

.btn-round-full {
  background: #155fd0;
  border-color: #3f3d43;
  color: #dcdcdd;
}

.btn-round-full:hover,
.btn-round-full:active,
.btn-round-full:focus {
  background: #165ac2 !important;
  border-color: #3f3d43 !important;
  color: #dcdcdd;
}

.btn-round:hover:enabled,
.btn-round:active:enabled,
.btn-round:focus:enabled {
  background: #165ac2 !important;
  border-color: #3f3d43 !important;
  color: #dcdcdd;
}

.btn-round-sm:hover,
.btn-round-sm:active,
.btn-round-sm:focus {
  background: #165ac2 !important;
  border-color: #3f3d43 !important;
  color: #dcdcdd;
}

.btn-round {
  background: #155fd0;
  border-color: #3f3d43;
  color: #dcdcdd;
}

.btn-round-danger {
  color: #fff;
  background: #e74c3c;
  border: 1px solid #e74c3c;
}

.btn-normal {
  background: #155fd0;
  border-color: #3f3d43;
  color: #dcdcdd;
}

.btn-normal:hover:enabled,
.btn-normal:active:enabled,
.btn-normal:focus:enabled {
  background: #165ac2;
  color: #dcdcdd;
  border-color: #3f3d43;
}

.btn-icon {
  color: #dcdcdd;
}

.btn-icon:hover,
.btn-icon:active,
.btn-icon:focus {
  color: #fff;
}

.btn-link {
  color: #155fd0;
}

.btn-link:hover,
.btn-link:active,
.btn-link:focus {
  color: #165ac2;
  border-color: #165ac2;
}

.btn-normal-danger {
  color: #fff;
  background: #e74c3c;
  border: 1px solid #e74c3c;
}

.btn-normal-danger:hover:enabled {
  border: 1px solid #c0392b;
  background: #c0392b;
}

.btn-round-danger:hover:enabled {
  border: 1px solid #c0392b !important;
  background: #c0392b !important;
}

.image__upload--label:hover {
  background: #4b4848;
}

input:checked + .slider {
  background-color: #155fd0;
}

/* SHOW PAGE */
.page {
  color: #e4e4e5;
}

.page__tags span {
  background: #6a6e72;
  color: #fff;
}

.page__tags span:hover,
.page__tags span:active,
.page__tags span:focus {
  background: #5d6165;
  color: #fff;
}

.page__author {
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
}

.comment {
  background-color: #6a696e;
  border: 1px solid #818085;
  color: #ebebec;
}

.page__comments {
  border-top: 1px solid #000;
}

.comment .comment-reply {
  color: #ebebec;
  background-color: #727176;
  border: 1px solid #818085;
}

.no-comment-message {
  color: #ebebec;
}

.disabled-message-comments {
  border-color: #000000;
}

.pagination__number--active {
  background: #155fd0;
  color: #dcdcdd;
}
