/*
0px - 360px			xxs
360px - 600px   xs
600px - 900px   sm
900px - 1200px  md
1200px - 1800px l
1800px+					xl
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 10px; }
  @media (max-width: 75em) {
    html {
      font-size: 9px; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 8px; } }

body {
  box-sizing: border-box;
  min-height: 100vh;
  position: relative; }

.body-grey {
  background-color: #f7f7f7; }

img {
  max-width: 100%;
  height: auto; }

body {
  font-display: fallback;
  font-family: "Lato", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #eee; }

a {
  color: #2980b9;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  padding-bottom: 0.1rem; }

.heading-tertiary,
.heading-fourth,
.heading-fifth {
  text-transform: uppercase;
  font-weight: 300;
  color: #555; }

.heading-tertiary {
  font-size: 2.5rem;
  word-spacing: 4px; }

.heading-fourth {
  font-size: 2.1rem;
  font-weight: 300;
  word-spacing: 2px;
  letter-spacing: 3px; }

.heading-fifth {
  font-size: 1.9rem;
  font-weight: 300;
  word-spacing: 2px;
  letter-spacing: 2px; }
  @media only screen and (max-width: 370px) {
    .heading-fifth {
      letter-spacing: 1px; } }

.small-copy {
  font-size: 1.6rem;
  max-width: 70%;
  margin: 2rem auto;
  color: #7e7a7a; }
  @media only screen and (max-width: 26.25em) {
    .small-copy {
      max-width: 90%; } }

.normal-paragraph {
  font-size: 1.6rem;
  color: #555; }

.small-paragraph {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 1rem 0;
  color: #555; }

.black-link {
  color: #555; }
  .black-link:hover {
    color: #0f0f0f; }

pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  background: #21252b;
  color: #9da5b4;
  border-radius: 6px;
  padding: 1rem 3rem; }

.a-1 {
  padding-top: 7rem;
  font-weight: 300;
  color: #555;
  font-size: 2.8rem; }

.a-2 {
  display: flex;
  flex-direction: column;
  margin-top: 3rem; }

.a-3 {
  display: flex;
  flex-wrap: wrap; }

.a-4 {
  padding-top: 7rem;
  font-weight: 300;
  color: #555;
  font-size: 2.4rem; }

.a-5 {
  padding-top: 0.1rem; }

.a-6 {
  position: absolute;
  width: 100%;
  bottom: 0; }

.a-8 {
  min-height: 100vh; }

.right-content {
  width: 100%;
  text-align: right !important; }

.center-content {
  width: 100%;
  text-align: center; }

.left-content {
  width: 100%;
  text-align: left; }

.visibility-hidden {
  visibility: hidden !important; }

.disable-none {
  display: none !important; }

.display-none-normall {
  display: none; }

.display-none {
  display: none !important; }

.display-flex {
  display: flex !important; }

.display-inline-block {
  display: inline-block !important; }

.float-right {
  float: right; }

.margin-right-3px {
  margin-right: 3px !important; }

.margin-right-1 {
  margin-right: 1rem !important; }

.margin-left-2 {
  margin-left: 2rem; }

.margin-left-07 {
  margin-left: 0.7rem !important; }

.margin-top-1 {
  margin-top: 1rem !important; }

.margin-top-2 {
  margin-top: 2rem !important; }

.margin-top-3 {
  margin-top: 3rem !important; }

.margin-top-4 {
  margin-top: 4rem !important; }

.margin-bottom-0 {
  margin-bottom: 0rem !important; }

.margin-bottom-1 {
  margin-bottom: 1rem !important; }

.margin-bottom-2 {
  margin-bottom: 2rem !important; }

.no-transform {
  transform: none; }
  .no-transform:hover {
    transform: none !important; }
  .no-transform:focus {
    transform: none !important; }

.italic {
  font-style: italic !important; }

.u-two-item-row {
  display: block; }
  .u-two-item-row--1 {
    display: inline-block; }
    @media only screen and (max-width: 500px) {
      .u-two-item-row--1 {
        display: block; } }
  .u-two-item-row--2 {
    display: inline-block;
    float: right; }
    @media only screen and (max-width: 500px) {
      .u-two-item-row--2 {
        margin-top: 2rem;
        display: block; } }

@keyframes shake {
  5%,
  15%,
  25%,
  35%,
  45%,
  55%,
  65%,
  75%,
  85%,
  95% {
    transform: rotate(0.3deg); }
  10%,
  20%,
  30%,
  40%,
  50%,
  60%,
  70%,
  80%,
  90%,
  100% {
    transform: rotate(-0.3deg); } }

@keyframes moveLeft {
  0% {
    left: 0;
    opacity: 1; }
  80% {
    opacity: 0; }
  100% {
    left: -35rem; } }

@keyframes moveRight {
  0% {
    left: -35rem;
    opacity: 0; }
  100% {
    left: 0;
    opacity: 1; } }

@keyframes name {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.05); }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); } }

/***** OPENMODAL *****/
@-webkit-keyframes animatetop {
  from {
    top: -20px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }

@keyframes animatetop {
  from {
    top: -20px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }

/***** FADEIN *****/
@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto; }
  @media only screen and (max-width: 26.25em) {
    .container {
      width: 100%; } }

@media only screen and (min-width: 33.75em) {
  /* 540px */
  .container {
    width: 70%; } }

@media only screen and (min-width: 60em) {
  /* 960px */
  .container {
    width: 75%;
    max-width: 60rem; }
  .container-big {
    max-width: 87rem; } }

@media only screen and (min-width: 37.5em) and (max-width: 60em) {
  .container {
    width: 85%; }
  .container-big {
    max-width: 95rem; } }

/*
	lg >= 1510px
	md => 760 - 1510
	sm => 620 - 760
	xs => 360 - 560
	xxs <= 360
*/
.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row::after {
    content: "";
    clear: both;
    display: table; }
  .row [class^="col-"] {
    float: left;
    min-height: 1px; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  @media only screen and (min-width: 760px) and (max-width: 1509px) {
    .row .col-md-1-of-4 {
      width: calc((100% - 3 * 8rem) / 4); }
      .row .col-md-1-of-4:not(:last-child) {
        margin-right: 8rem; }
      .row .col-md-1-of-4:nth-child(4n) {
        margin-right: 0 !important; } }
  @media only screen and (min-width: 760px) and (max-width: 1300px) {
    .row .col-md-1-of-4 {
      width: calc((100% - 3 * 6rem) / 4); }
      .row .col-md-1-of-4:not(:last-child) {
        margin-right: 6rem; }
      .row .col-md-1-of-4:nth-child(4n) {
        margin-right: 0 !important; } }
  @media only screen and (min-width: 760px) and (max-width: 1090px) {
    .row .col-md-1-of-4 {
      width: calc((100% - 3 * 4.5rem) / 4); }
      .row .col-md-1-of-4:not(:last-child) {
        margin-right: 4.5rem; }
      .row .col-md-1-of-4:nth-child(4n) {
        margin-right: 0 !important; } }
  @media only screen and (min-width: 1510px) {
    .row .col-lg-1-of-5 {
      width: calc((100% - 4 * 4.5rem) / 5); }
      .row .col-lg-1-of-5:nth-child(5n) {
        margin-right: 0 !important; }
      .row .col-lg-1-of-5:not(:last-child) {
        margin-right: 4.5rem; } }
  @media only screen and (min-width: 561px) and (max-width: 760px) {
    .row .col-sm-1-of-3 {
      width: calc((100% - 2 * 6rem) / 3); }
      .row .col-sm-1-of-3:not(:last-child) {
        margin-right: 6rem; }
      .row .col-sm-1-of-3:nth-child(3n) {
        margin-right: 0 !important; } }
  @media only screen and (min-width: 561px) and (max-width: 620px) {
    .row .col-sm-1-of-3 {
      width: calc((100% - 2 * 4.5rem) / 3); }
      .row .col-sm-1-of-3:not(:last-child) {
        margin-right: 4.5rem; }
      .row .col-sm-1-of-3:nth-child(3n) {
        margin-right: 0 !important; } }
  @media only screen and (min-width: 361px) and (max-width: 560px) {
    .row .col-xs-1-of-2 {
      width: calc((100% - 6rem) / 2); }
      .row .col-xs-1-of-2:not(:last-child) {
        margin-right: 6rem; }
      .row .col-xs-1-of-2:nth-child(2n) {
        margin-right: 0 !important; } }
  @media only screen and (min-width: 361px) and (max-width: 400px) {
    .row .col-xs-1-of-2 {
      width: calc((100% - 4.5rem) / 2); }
      .row .col-xs-1-of-2:not(:last-child) {
        margin-right: 4.5rem; }
      .row .col-xs-1-of-2:nth-child(2n) {
        margin-right: 0 !important; } }
  @media only screen and (max-width: 360px) {
    .row .col-xxs-1-of-1 {
      width: 100%;
      margin-right: 0 !important; } }

.navigation {
  font-size: 1.8rem;
  padding: 0 2rem;
  border-bottom: 1px solid #dbe2e8;
  background-color: #fff;
  display: flex;
  align-items: center; }

.navigation__logo {
  display: flex;
  flex-direction: column;
  padding: 0.3rem 0; }
  .navigation__logo img {
    width: 5rem;
    display: inline-block;
    margin-right: 3rem; }

.navigation__link {
  display: inline-block;
  color: #555;
  font-weight: 300;
  padding: 1.2rem 1rem;
  border-bottom: 2px solid transparent;
  transition: all 0.2s; }
  .navigation__link:hover {
    background-color: #fcfcfc; }
  .navigation__link--active {
    background-color: #fbfbfb; }
    .navigation__link--active:hover {
      background-color: #fbfbfb; }
  .navigation__link:not(:last-child) {
    margin-right: 3rem; }

.navigation__right-link {
  margin-left: auto;
  margin-right: 2rem;
  display: inline-block;
  color: #555;
  font-weight: 300;
  padding: 1.2rem 0;
  border-bottom: 2px solid transparent;
  transition: all 0.2s; }
  .navigation__right-link:hover {
    border-bottom: 2px solid #2980b9; }

.nav-dropdown {
  margin-left: auto;
  margin-right: 2rem;
  position: relative; }

.nav-dropdown__button {
  padding: 0.7rem 0.8rem;
  transition: all 0.2s; }
  .nav-dropdown__button:hover {
    background-color: #f9f9f9; }

.nav-dropdown__button a {
  display: flex;
  flex-direction: column; }

.nav-dropdown__button img {
  width: 4rem;
  border-radius: 50%; }

.nav-dropdown__content {
  display: none;
  position: absolute;
  background-color: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: 0;
  border: 1px solid #eee;
  box-shadow: -1px 2px 1px 0 rgba(0, 0, 0, 0.02);
  z-index: 1;
  right: 0;
  top: 5.6rem; }
  @media only screen and (max-width: 1200px) {
    .nav-dropdown__content {
      top: 6.2rem; } }
  .nav-dropdown__content a {
    font-weight: 300;
    font-size: 1.6rem;
    float: none;
    color: #555;
    padding: 0.8rem 2rem;
    padding-left: 1.5rem;
    text-decoration: none;
    display: block;
    text-align: left;
    width: 15rem; }
    .nav-dropdown__content a i {
      margin-right: 0.5rem; }
    .nav-dropdown__content a:last-child {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px; }
    .nav-dropdown__content a:hover {
      background-color: #f9f9f9; }

.nav-dropdown:hover .nav-dropdown__content {
  display: block; }

.nav-dropdown:hover .nav-dropdown__button {
  background-color: #f9f9f9; }

/* small navigation */
.navigation__bar-button {
  margin-left: auto;
  margin-right: 1rem;
  background: transparent;
  border: none;
  font-size: 2.8rem;
  cursor: pointer; }
  .navigation__bar-button:focus {
    outline: none; }
  .navigation__bar-button i {
    color: #2980b9; }

.navigation-sm {
  flex-direction: column; }

.navigation-sm__visible {
  display: flex;
  width: 100%; }

.navigation-sm__hidden {
  width: 100%;
  padding: 1rem 0; }

.navigation-sm__hidden a {
  display: block;
  padding: 0.7rem 0.8rem;
  margin-bottom: 1rem;
  color: #555;
  border-radius: 5px;
  transition: all 0.2s; }
  .navigation-sm__hidden a:hover {
    background-color: #f9f9f9; }

.nav-dropdown-slider__button a {
  display: flex;
  flex-direction: column; }

.nav-dropdown-slider__button--active {
  background-color: #f9f9f9; }

.nav-dropdown-slider__button img {
  width: 4rem;
  border-radius: 50%; }

.nav-dropdown-slider__content {
  background-color: #f9f9f9;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 1;
  margin-top: -10px; }
  .nav-dropdown-slider__content a {
    font-weight: 300;
    font-size: 1.6rem;
    float: none;
    color: #555;
    padding: 0.8rem 2rem;
    padding-left: 3rem;
    text-decoration: none;
    display: block;
    text-align: left; }
    .nav-dropdown-slider__content a i {
      margin-right: 0.5rem; }
    .nav-dropdown-slider__content a:last-child {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px; }
    .nav-dropdown-slider__content a:not(:last-child) {
      border-radius: 0; }
    .nav-dropdown-slider__content a:hover {
      background-color: #f1f1f1; }

.navigation-sm__hidden .nav-dropdown-slider {
  margin-top: 1.2rem; }

.navigation-sm__hidden .nav-dropdown-slider .nav-dropdown-slider__button {
  border-radius: 5px;
  padding: 0 !important; }

.navigation-sm__hidden .nav-dropdown-slider .nav-dropdown-slider__button a {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .navigation-sm__hidden .nav-dropdown-slider .nav-dropdown-slider__button a i {
    margin-left: auto; }

/* auth navigatoin */
.navigation__logo--single {
  display: flex;
  flex-direction: column;
  padding: 0.3rem 0; }
  .navigation__logo--single img {
    height: 5rem;
    display: inline-block; }
  .navigation__logo--single span {
    font-size: 1.8rem;
    margin-left: 1.2rem;
    letter-spacing: 0.4rem;
    line-height: 5rem; }
  .navigation__logo--single div {
    display: flex; }

@media only screen and (max-width: 75em) {
  .navigation__link,
  .navigation__right-link {
    padding: 1.5rem 1rem; }
  .nav-dropdown__button {
    padding: 1rem 0.8rem; } }

@media only screen and (max-width: 56.25em) {
  .navigation-md {
    display: none; }
  .navigation-sm {
    display: flex; } }

@media only screen and (min-width: 56.25em) {
  .navigation-md {
    display: flex; }
  .navigation-sm {
    display: none; } }

.sidebar {
  background-color: #1c262f;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 24rem;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 999; }
  @media (max-width: 62.5em) {
    .sidebar {
      left: -35rem;
      border-right: 1px solid #bebebe;
      background: #f0f0f0;
      box-shadow: 0 0rem 1rem rgba(0, 0, 0, 0.4); } }

.sidebar__opener {
  display: none;
  position: absolute;
  margin: 2.5rem 0 0 3rem; }
  .sidebar__opener .bar {
    width: 22px;
    height: 2px;
    background-color: #1c262f;
    margin: 5px 0; }
  .sidebar__opener button {
    font-size: 3rem;
    border: none;
    background: transparent;
    cursor: pointer; }
    .sidebar__opener button:focus {
      outline: none; }
  .sidebar__opener i {
    color: #1c262f; }
  @media (max-width: 62.5em) {
    .sidebar__opener {
      display: inline-block; } }

.sidebar__closer {
  font-size: 4.5rem;
  font-weight: 200;
  position: absolute;
  right: 1.1rem;
  top: 1rem;
  background: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
  z-index: 2000;
  display: none; }
  .sidebar__closer:focus {
    outline: none;
    color: #141414; }
  @media (max-width: 62.5em) {
    .sidebar__closer {
      display: inline-block;
      color: #464646; }
      .sidebar__closer:hover {
        color: #141414; } }

.sidebar--open {
  left: 0 !important;
  animation: moveRight 0.3s ease-out; }

@media (max-width: 62.5em) {
  .sidebar--close {
    animation: moveLeft 0.3s linear;
    left: -35rem !important; } }

.side-nav {
  padding-top: 3rem; }
  @media (max-width: 62.5em) {
    .side-nav {
      padding-top: 1.5rem; } }
  .side-nav__logo {
    position: relative;
    margin-left: 2.5rem;
    margin-bottom: 2.3rem;
    list-style: none; }
    .side-nav__logo span {
      font-weight: 300;
      font-size: 2.4rem;
      text-transform: uppercase;
      letter-spacing: 11px; }
      @media (max-width: 62.5em) {
        .side-nav__logo span {
          color: #464646; } }
  .side-nav__item {
    font-size: 1.6rem;
    margin-bottom: 4rem;
    padding: 1rem 4rem;
    display: block;
    transition: all 0.2s; }
    @media (max-width: 62.5em) {
      .side-nav__item a {
        color: #464646; }
        .side-nav__item a:hover {
          color: #141414; } }
    .side-nav__item--active {
      background: #fff;
      border-right: 1px solid #1c262f;
      border-left: 1px solid #1c262f; }
      @media (max-width: 62.5em) {
        .side-nav__item--active {
          border: none; } }
      .side-nav__item--active a {
        color: #1c262f; }
        .side-nav__item--active a:hover {
          color: #1c262f; }
  .side-nav__link {
    color: #fff;
    text-decoration: none;
    transition: all 0.2s;
    border-bottom: none; }
    .side-nav__link i {
      font-size: 2.8rem;
      margin-right: 2rem;
      vertical-align: top;
      width: 3rem; }
    .side-nav__link:hover {
      color: #c8ced2;
      border-bottom: none; }

.side-bottom {
  width: 100%;
  text-align: center;
  margin-bottom: 1rem; }

.footer {
  margin-top: 9rem;
  background: #f2f2f2;
  padding: 1.2rem 6rem;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  border-top: 1px solid #e5e5e5; }
  @media only screen and (max-width: 790px) {
    .footer {
      flex-direction: column;
      padding: 1.6rem 1rem; } }
  .footer__text {
    display: inline-block;
    color: #888; }
  .footer__nav {
    display: inline-block; }
    @media only screen and (max-width: 790px) {
      .footer__nav {
        margin: 1rem 0; } }
  .footer__link {
    display: inline-block;
    list-style-type: none;
    margin-left: 2rem; }
    .footer__link a {
      color: #555; }
      .footer__link a:hover {
        text-decoration: underline; }
  .footer__right {
    display: flex;
    align-items: center;
    margin-left: auto; }
    @media only screen and (max-width: 790px) {
      .footer__right {
        margin-left: unset; } }
  .footer__theme-text {
    font-weight: 600;
    color: #555;
    padding-right: 0rem;
    font-size: 1.5rem; }
  .footer__theme-light {
    display: inline-block;
    width: 3.2rem;
    height: 3.2rem;
    background: #fff;
    border-radius: 500px;
    margin: 0 1rem; }
  .footer__theme-dark {
    display: inline-block;
    width: 3.2rem;
    height: 3.2rem;
    background: #2d3133;
    border-radius: 500px;
    margin: 0 1rem; }

#particles-js {
  height: 100vh !important;
  background: #f9f9f9; }

.auth {
  padding: 4rem 3rem 3rem 3rem;
  background: #fff;
  margin: 10rem auto;
  box-shadow: 6px 7px 30px 7px rgba(116, 123, 129, 0.14);
  width: 62rem;
  border: 1px solid #d0d9e1;
  text-align: center;
  border-radius: 7px;
  position: absolute;
  transform: translate(-50%, 0%);
  left: 50%; }
  @media only screen and (max-width: 625px) {
    .auth {
      margin-top: 10rem;
      width: 42rem; } }
  @media only screen and (max-width: 400px) {
    .auth {
      margin-top: 10rem;
      width: 38rem; } }
  @media only screen and (max-width: 350px) {
    .auth {
      margin-top: 10rem;
      width: 34rem; } }
  @media only screen and (max-width: 315px) {
    .auth {
      border-radius: 0;
      margin-top: 10rem;
      max-width: 100%; } }

.auth__options {
  width: 100%;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 2rem;
  color: #555; }

.auth__options--register {
  width: 50%;
  padding-top: 1.5rem;
  padding-bottom: 15px;
  background-color: #fafafa;
  cursor: pointer;
  border-right: 1px solid #dbe2e8;
  border-bottom: 1px solid #dbe2e8;
  border-top-left-radius: 5px; }

.auth__options--login {
  border-bottom: 1px solid #dbe2e8;
  background-color: #fafafa;
  cursor: pointer;
  width: 50%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-top-right-radius: 5px; }

.auth__options--register--active {
  width: 50%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-right: 1px solid #dbe2e8; }

.auth__options--login--active {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  width: 50%; }

.auth__content {
  padding: 5rem 0 0 0; }

.mdl {
  display: none;
  position: fixed;
  z-index: 3000;
  padding: 10rem 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.6); }

.mdl__content {
  overflow: hidden;
  position: relative;
  background-color: #fff;
  margin: auto;
  padding: 0;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  max-width: 40%;
  border-radius: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.46);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.2s;
  animation-name: animatetop;
  animation-duration: 0.2s; }
  @media only screen and (max-width: 1460px) {
    .mdl__content {
      max-width: 50%; } }
  @media only screen and (max-width: 62.5em) {
    .mdl__content {
      max-width: 70%; } }
  @media only screen and (max-width: 51.25em) {
    .mdl__content {
      max-width: 80%; } }
  @media only screen and (max-width: 38.75em) {
    .mdl__content {
      max-width: 95%; } }

.mdl .mdl__close {
  float: right;
  color: #bebebe;
  cursor: pointer;
  font-size: 2.8rem;
  font-weight: 400;
  transition: all 0.2s; }

.mdl .mdl__close:hover,
.mdl .mdl__close:visited {
  color: #919191; }

.mdl__header {
  padding: 1.4rem 1.8rem;
  background: #fcfcfc;
  border-bottom: 1px solid #e5e5e5; }
  .mdl__header h3 {
    margin: 0;
    text-transform: none; }

.mdl__body {
  padding: 1.6rem 1.8rem;
  color: #555; }
  .mdl__body p {
    font-size: 1.6rem; }
  .mdl__body button {
    padding: 0.7rem 2.5rem;
    margin-bottom: 0;
    margin-top: 0; }

.btn-round {
  color: #2980b9;
  background-color: transparent;
  border: 1px solid #2980b9;
  border-radius: 500px;
  cursor: pointer;
  padding: 1.1rem 3rem;
  transition: all 0.2s;
  font-size: 2rem;
  font-weight: 300;
  margin-top: 1.5rem; }
  .btn-round:hover:enabled, .btn-round:active:enabled, .btn-round:focus:enabled {
    color: #fff;
    outline: none;
    background-color: #2980b9; }
  .btn-round-full {
    color: #fff;
    background-color: #2980b9;
    border: 1px solid #236d9d; }
    .btn-round-full:hover, .btn-round-full:active, .btn-round-full:focus {
      background-color: #236d9d !important; }
  .btn-round-normal {
    padding: 1.1rem 1.8rem;
    margin-top: 0;
    font-size: 1.6rem; }
  .btn-round-sm {
    font-size: 1.6rem;
    padding: 0.6rem 1.8rem;
    margin-top: 0; }
    .btn-round-sm:hover, .btn-round-sm:active, .btn-round-sm:focus {
      color: #fff;
      background-color: #2980b9; }
  .btn-round-danger {
    color: #fff;
    background: #e74c3c;
    border: 1px solid #e74c3c; }
    .btn-round-danger:hover:enabled, .btn-round-danger:active:enabled, .btn-round-danger:focus {
      background-color: #c0392b !important;
      border: 1px solid #c0392b; }

.btn-link {
  color: #2980b9;
  font-size: 1.5rem;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: all 0.2s; }
  .btn-link:hover, .btn-link:active {
    color: #236d9d;
    border-bottom: 1px solid #2980b9; }

.btn-small {
  text-decoration: none;
  background-color: #2980b9;
  color: #fff;
  padding: 0.3em 0.7rem;
  margin-bottom: 1rem;
  display: inline-block;
  font-size: 1.2rem;
  border-radius: 5px;
  transition: all 0.3s; }
  .btn-small:hover,
  .btn-small :active {
    background-color: #236d9d; }

.btn-action {
  color: #e74c3c;
  background-color: transparent;
  border: 1px solid #e74c3c;
  text-transform: uppercase;
  border-radius: 500px;
  cursor: pointer;
  padding: 0.8rem 3.2rem;
  transition: all 0.2s;
  font-size: 1.8rem;
  font-weight: 300;
  margin: 1.5rem 0;
  display: inline-block; }
  .btn-action:hover, .btn-action:active, .btn-action:focus {
    color: #fff;
    outline: none;
    background-color: #e74c3c; }

.btn-normal {
  color: #fff;
  background-color: #2980b9;
  border-radius: 5px;
  border: 1px solid #2980b9;
  font-size: 1.8rem;
  padding: 1rem 2rem;
  margin: 1rem 0 0.5rem 0;
  cursor: pointer;
  transition: all 0.2s;
  outline: none; }
  .btn-normal-link {
    padding: 0.5rem 2rem;
    display: inline-block; }
  .btn-normal-not-active {
    background: transparent;
    color: #2980b9;
    border: 1px solid #2980b9; }
  .btn-normal-not-active:hover, .btn-normal-not-active:active, .btn-normal-not-active:focus {
    outline: none !important;
    background: #2980b9;
    color: #fff; }
  .btn-normal-sm {
    font-size: 1.5rem;
    padding: 0.8rem 1.3rem; }
  .btn-normal-xs {
    font-size: 1.4rem;
    padding: 0.4rem 1.2rem;
    border-radius: 500px; }
  .btn-normal:focus {
    outline: none !important;
    background-color: #236d9d; }
  .btn-normal:hover:enabled {
    background-color: #236d9d;
    border: 1px solid #236d9d; }
  .btn-normal-danger {
    background-color: #e74c3c;
    border: 1px solid #e74c3c; }
    .btn-normal-danger:hover, .btn-normal-danger:focus {
      background-color: #c0392b !important;
      border: 1px solid #c0392b !important; }

.btn-icon {
  cursor: pointer;
  color: #2980b9;
  background: transparent;
  border: none;
  font-size: 1.9rem; }
  .btn-icon:hover, .btn-icon:focus {
    color: #236d9d; }
  .btn-icon:focus {
    outline: none; }

.btn-text {
  cursor: pointer;
  color: #2980b9;
  background: transparent;
  border: none;
  font-size: 1.6rem;
  transition: all 0.2s; }
  .btn-text:hover, .btn-text:focus {
    color: #20608a; }
  .btn-text:focus {
    outline: none; }
  .btn-text--red {
    color: #e74c3c; }
    .btn-text--red:hover, .btn-text--red:focus {
      color: #c0392b; }
  .btn-text:disabled {
    background: transparent;
    border: none;
    color: #757575 !important; }

button:disabled {
  cursor: not-allowed;
  background: #ebebe4;
  border: 1px solid #ccc;
  color: #757575; }

.inline-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 0; }
  @media (max-width: 500px) {
    .inline-buttons {
      flex-direction: column; } }

.back-button {
  background-color: transparent;
  border: none;
  color: #2980b9;
  font-size: 1.6rem;
  cursor: pointer; }
  .back-button:hover, .back-button:active, .back-button:focus {
    outline: none;
    color: #2371a4; }

.back-button--new-page {
  top: 1.7rem;
  position: absolute;
  left: 1rem; }

.btn-lined {
  font-size: 1.6rem;
  border-bottom: 4px solid rgba(41, 128, 185, 0.9);
  padding-bottom: 0.7rem;
  padding-right: 0.4rem;
  transition: all 0.2s;
  margin-bottom: 3rem; }

.btn-lined-not-active {
  border-bottom: 4px solid rgba(41, 128, 185, 0.2); }
  .btn-lined-not-active:hover {
    border-bottom: 4px solid rgba(41, 128, 185, 0.5); }

.delete-x-button {
  border: none;
  background-color: transparent;
  margin-left: 0.6rem;
  font-size: 1.6rem;
  color: #ccc;
  cursor: pointer;
  transition: all 0.1s; }
  .delete-x-button:hover {
    color: #555; }
  .delete-x-button:focus {
    outline: none;
    color: #555; }

.delete-x-button-white {
  border: none;
  background-color: transparent;
  margin-left: 0.3rem;
  font-size: 1.6rem;
  color: #e6e6e6;
  cursor: pointer;
  transition: all 0.1s; }
  .delete-x-button-white:hover {
    color: #fff; }
  .delete-x-button-white:focus {
    outline: none;
    color: #fff; }

.form::after {
  content: "";
  clear: both;
  display: table; }

.form__group {
  margin: 2rem 0; }
  .form__group--sm {
    margin: 1rem 0; }
  .form__group--error input,
  .form__group--error textarea {
    border-color: #e74c3c; }
  .form__group--error .form__input--message {
    color: #e74c3c; }
  .form__group--success input,
  .form__group--success textarea {
    border-color: #2ecc71; }
  .form__group input {
    margin-top: 0.5rem; }

.form__input, .form__textarea {
  display: block;
  resize: none;
  color: #555;
  font-size: 1.6rem;
  width: 100%;
  padding: 1.1rem 1.2rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  font-family: inherit; }
  .form__input:focus, .form__textarea:focus {
    border-color: rgba(41, 128, 185, 0.57);
    outline: 0 none; }

.form__input--message {
  text-align: left;
  font-size: 1.3rem;
  margin-top: 0.5rem; }

.form__input--disabled {
  cursor: not-allowed;
  background: #ebebe4; }

.form__label {
  color: #555;
  font-size: 1.7rem;
  margin-bottom: 0.5rem;
  display: block; }
  .form__label--required-label {
    color: #e74c3c;
    margin-left: 0.3rem; }

.form__len-display {
  background: #888;
  border-radius: 500px;
  padding: 0 0.6rem;
  display: inline-block;
  color: #fff;
  margin-top: 0.6rem;
  float: right; }
  .form__len-display::after {
    content: "";
    clear: both;
    display: table; }

.input__group {
  position: relative;
  display: table;
  border-collapse: separate; }
  .input__group input {
    display: table-cell;
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 0;
    margin-top: 0; }
    .input__group input:first-child {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0; }
    .input__group input:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0; }
  .input__group div {
    border-radius: 4px;
    padding: 0.6rem 1.2rem;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #fafafa;
    width: 1%;
    display: table-cell;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid #ccc; }
    .input__group div:first-child {
      border-top-right-radius: 0;
      border-right: 0;
      border-bottom-right-radius: 0; }
    .input__group div:last-child {
      border-left: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0; }

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.alert {
  border-radius: 5px;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  color: #fff;
  display: none; }
  .alert--error {
    background-color: #e74c3c;
    display: flex;
    align-items: center; }
  .alert--success {
    background-color: #2ecc71;
    display: flex;
    align-items: center; }
  .alert--normall {
    background-color: #5f6063;
    display: flex;
    align-items: center; }
  .alert__dismiss {
    font-size: 1.6rem;
    margin-left: auto;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer; }
    .alert__dismiss:hover, .alert__dismiss:focus {
      outline: none;
      color: #cecece; }

.box__to-action {
  background-color: #fff;
  margin-top: 2rem;
  border-radius: 5px;
  padding: 2.5rem 3rem;
  text-align: center;
  box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.1); }
  .box__to-action p {
    color: #555;
    font-size: 1.4rem;
    margin: 1rem 0; }

#img-preview {
  max-width: 100%; }

.image__upload--options a {
  margin-right: 0.8rem;
  display: none; }

.image__upload--options {
  width: 100%;
  text-align: right;
  margin: 1rem 0; }

.image__upload--error {
  color: #e74c3c;
  font-size: 1.6rem;
  padding-bottom: 0.5rem; }

.image__upload--label {
  border: 1px solid #dbe2e8;
  border-radius: 5px;
  width: 100%;
  text-align: center;
  font-size: 1.7rem;
  display: inline-block;
  padding: 0.6rem 1.2rem;
  cursor: pointer;
  background: transparent;
  transition: all 0.2s;
  margin-bottom: 2rem; }

.image__upload--label:hover {
  background: #fbfbfb; }

input[type="file"] {
  display: none; }

#myProgress {
  margin: 2rem auto;
  background-color: #ddd;
  border-radius: 5px;
  overflow: hidden; }
  @media (max-width: 26.25em) {
    #myProgress {
      margin: 2rem 0.4rem; } }

#myBar {
  height: 3rem;
  background-color: #2980b9; }

.control {
  font-size: 1.8rem;
  position: relative;
  display: block;
  margin-bottom: 0.6rem;
  color: #555;
  padding-left: 3rem;
  cursor: pointer; }
  .control__indicator {
    position: absolute;
    top: 0.4rem;
    left: 0;
    width: 2rem;
    height: 2rem;
    background: #fff;
    border: 1px solid #2980b9;
    border-radius: 50%; }
  .control input {
    position: absolute;
    z-index: -1;
    opacity: 0; }

/* Hover and focus states */
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #eaf7fb; }

/* Checked state */
.control input:checked ~ .control__indicator {
  background: #2980b9;
  border: none; }

/* Loading icon 1 */
@keyframes lds-spinner {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-webkit-keyframes lds-spinner {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.lds-spinner {
  position: relative;
  display: inline-block; }

.lds-spinner div {
  left: 95px;
  top: 42px;
  position: absolute;
  -webkit-animation: lds-spinner linear 0.6s infinite;
  animation: lds-spinner linear 0.6s infinite;
  background: #555555;
  width: 10px;
  height: 32px;
  border-radius: 36%;
  -webkit-transform-origin: 5px 58px;
  transform-origin: 5px 58px; }

.lds-spinner div:nth-child(1) {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-animation-delay: -0.55s;
  animation-delay: -0.55s; }

.lds-spinner div:nth-child(2) {
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s; }

.lds-spinner div:nth-child(3) {
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
  -webkit-animation-delay: -0.45s;
  animation-delay: -0.45s; }

.lds-spinner div:nth-child(4) {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s; }

.lds-spinner div:nth-child(5) {
  -webkit-transform: rotate(120deg);
  transform: rotate(120deg);
  -webkit-animation-delay: -0.35s;
  animation-delay: -0.35s; }

.lds-spinner div:nth-child(6) {
  -webkit-transform: rotate(150deg);
  transform: rotate(150deg);
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s; }

.lds-spinner div:nth-child(7) {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-animation-delay: -0.25s;
  animation-delay: -0.25s; }

.lds-spinner div:nth-child(8) {
  -webkit-transform: rotate(210deg);
  transform: rotate(210deg);
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s; }

.lds-spinner div:nth-child(9) {
  -webkit-transform: rotate(240deg);
  transform: rotate(240deg);
  -webkit-animation-delay: -0.15s;
  animation-delay: -0.15s; }

.lds-spinner div:nth-child(10) {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s; }

.lds-spinner div:nth-child(11) {
  -webkit-transform: rotate(300deg);
  transform: rotate(300deg);
  -webkit-animation-delay: -0.05s;
  animation-delay: -0.05s; }

.lds-spinner div:nth-child(12) {
  -webkit-transform: rotate(330deg);
  transform: rotate(330deg);
  -webkit-animation-delay: 0s;
  animation-delay: 0s; }

.lds-spinner {
  width: 38px !important;
  height: 38px !important;
  -webkit-transform: translate(-19px, -19px) scale(0.19) translate(19px, 19px);
  transform: translate(-19px, -19px) scale(0.19) translate(19px, 19px); }

/* Loading icon 2 */
.spinner {
  margin: 1rem auto 0.5rem;
  width: 7rem;
  text-align: center; }

.spinner > div {
  width: 1.8rem;
  height: 1.8rem;
  background-color: #333;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both; }

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s; }

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s; }

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0); }
  40% {
    -webkit-transform: scale(1); } }

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

.page-thumbnail {
  color: #555;
  margin: 1rem 2rem 4.4rem 0;
  background-color: #fff;
  position: relative;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  display: inline-block;
  box-shadow: 2px 2px 3px 0 rgba(116, 123, 129, 0.12);
  font-size: 1.6rem;
  height: 28rem;
  width: 100%;
  transition: all 0.2s; }
  .page-thumbnail--shaking {
    animation: shake 2s infinite;
    cursor: pointer; }
  .page-thumbnail--selected {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }
    .page-thumbnail--selected::after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 0.5rem;
      position: absolute;
      top: 0;
      left: 0;
      transform: scale(1.04);
      border: 6px solid #2980b9; }
  @media (max-width: 23.5em) {
    .page-thumbnail {
      width: 100%;
      margin: 1rem 0rem 4.4rem 0rem; } }
  .page-thumbnail-no-photo {
    border-radius: 5px;
    padding-top: 1rem;
    margin-right: 2rem;
    width: 100%;
    height: 16rem; }
  .page-thumbnail a {
    color: inherit; }
  .page-thumbnail__details {
    padding: 0 1rem 1rem 1rem;
    word-break: break-word; }
    .page-thumbnail__details h4 {
      font-size: 2.2rem;
      font-weight: 400;
      line-height: 3rem; }
    .page-thumbnail__details .a-1 {
      font-size: 1.5rem;
      font-weight: 300;
      margin-bottom: 1rem; }
  .page-thumbnail__author {
    display: flex;
    font-size: 1.4rem; }
    .page-thumbnail__author .a-2 {
      font-weight: 300;
      font-style: italic;
      line-height: 250%; }
    .page-thumbnail__author img {
      height: 35px;
      width: 35px;
      border-radius: 500px;
      margin-right: 8px; }
  .page-thumbnail__time {
    font-weight: 300;
    font-size: 1.2rem; }
  .page-thumbnail__type {
    background-color: #777;
    border-radius: 25px;
    padding: 0 0.6rem;
    position: absolute;
    right: 0;
    bottom: -3rem;
    margin-top: 0.7rem;
    font-size: 1.2rem;
    color: #fff; }

.page-thumbnail:hover,
.page-thumbnail:visited {
  box-shadow: 2px 2px 3px 0 rgba(169, 170, 170, 0.52); }

#snackbar {
  visibility: hidden;
  /* Hidden by default. Visible on click */
  min-width: 25rem;
  /* Set a default minimum width */
  transform: translateX(-50%);
  background-color: #333;
  /* Black background color */
  border-radius: 5px;
  font-size: 1.6rem;
  color: #fff;
  /* White text color */
  text-align: center;
  /* Centered text */
  padding: 1.6rem;
  /* Padding */
  position: fixed;
  /* Sit on top of the screen */
  z-index: 1;
  /* Add a z-index if needed */
  left: 50%;
  /* Center the snackbar */
  bottom: 3rem;
  /* 30px from the bottom */
  box-shadow: 2px 2px 3px 0 rgba(116, 123, 129, 0.12); }

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible;
  /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.4s, fadeout 0.4s 2.5s;
  animation: fadein 0.4s, fadeout 0.4s 2.5s; }

#snackbar.success {
  background-color: #2ecc71 !important; }

#snackbar.error {
  background-color: #e74c3c !important; }

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0; }
  to {
    bottom: 3rem;
    opacity: 1; } }

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0; }
  to {
    bottom: 3rem;
    opacity: 1; } }

@-webkit-keyframes fadeout {
  from {
    bottom: 3rem;
    opacity: 1; }
  to {
    bottom: 0;
    opacity: 0; } }

@keyframes fadeout {
  from {
    bottom: 3rem;
    opacity: 1; }
  to {
    bottom: 0;
    opacity: 0; } }

.pagination {
  text-align: center;
  font-size: 1.6rem;
  margin-top: 4.5rem;
  margin-bottom: 3rem; }
  .pagination__number, .pagination__arrow {
    color: #555;
    margin: 0 1.7rem;
    padding: 5px 10px;
    cursor: pointer; }
    .pagination__number:hover, .pagination__arrow:hover {
      color: #2980b9; }
  .pagination__number--active {
    background-color: #2980b9;
    color: #fff !important;
    border-radius: 500px; }

.mce-tinymce.mce-container {
  border-radius: 5px !important; }

.mce-toolbar-grp.mce-container {
  border-radius: 5px !important; }

.mce-edit-area.mce-container {
  border-radius: 5px !important; }

iframe {
  border-bottom-left-radius: 5px !important;
  border-bottom-right-radius: 5px !important; }

.cupertino-modal-container {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999; }
  .cupertino-modal-container--light {
    background-color: rgba(0, 0, 0, 0.4); }

.cupertino-modal {
  background-color: #fff;
  border-radius: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1.6rem;
  color: #555;
  transform: translate(-50%, -50%);
  width: 40rem;
  animation: name 0.2s ease-out;
  z-index: 999; }
  .cupertino-modal__content {
    padding: 2rem 3rem;
    text-align: center; }
  .cupertino-modal--loading {
    width: 26rem; }
    .cupertino-modal--loading .cupertino-modal__content {
      padding: 1rem 0 0 0; }
  .cupertino-modal__actions {
    display: block;
    width: 100%; }
    .cupertino-modal__actions::after {
      content: "";
      clear: both;
      display: table; }
    .cupertino-modal__actions button {
      border: none;
      background: #fff;
      font-size: 1.6rem;
      text-align: center;
      padding: 1.8rem 1rem;
      border-top: 1px solid rgba(0, 0, 0, 0.2);
      cursor: pointer; }
      .cupertino-modal__actions button:hover, .cupertino-modal__actions button:focus {
        outline: none;
        background: rgba(0, 0, 0, 0.01); }
    .cupertino-modal__actions button:first-child {
      float: left;
      width: 50%;
      border-bottom-left-radius: 1rem;
      border-right: 1px solid rgba(0, 0, 0, 0.2); }
    .cupertino-modal__actions button:last-child {
      color: #e74c3c;
      width: 50%;
      float: right;
      border-bottom-right-radius: 1rem; }

.switch {
  position: relative;
  display: inline-block;
  width: 5rem;
  height: 2.6rem; }

.switch input {
  opacity: 0;
  width: 0;
  height: 0; }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s; }

.slider:before {
  position: absolute;
  content: "";
  height: 2.4rem;
  width: 2.4rem;
  left: 0.1rem;
  bottom: 0.1rem;
  background: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s; }

input:checked + .slider {
  background-color: #2196f3; }

input:checked + .slider:before {
  -webkit-transform: translateX(2.4rem);
  -ms-transform: translateX(2.4rem);
  transform: translateX(2.4rem); }

/* Rounded sliders */
.slider.round {
  border-radius: 3.4rem; }

.slider.round:before {
  border-radius: 50%; }

.middle-box {
  padding: 2.5rem 2rem;
  margin: 6rem auto;
  box-shadow: 2px 2px 3px 0 rgba(116, 123, 129, 0.12);
  max-width: 52rem;
  border: 1px solid #dbe2e8;
  text-align: center;
  border-radius: 5px;
  position: relative;
  font-size: 1.8rem;
  color: #fff; }
  .middle-box--absolute {
    position: absolute;
    transform: translate(-50%, 0%);
    left: 50%; }
  .middle-box--success {
    background: #2ecc71; }
  .middle-box--error {
    background: #e74c3c; }
  .middle-box--link {
    font-size: 1.6rem; }

.admin {
  display: flex; }
  .admin__empty {
    width: 24rem;
    flex-shrink: 0; }
    @media (max-width: 62.5em) {
      .admin__empty {
        width: 0; } }
  .admin__footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0; }
  .admin__content {
    padding: 4rem 24rem 4rem 8rem;
    width: 100%;
    position: relative; }
    @media (max-width: 1745px) {
      .admin__content {
        padding: 4rem 5rem; } }
    @media (max-width: 87.5em) {
      .admin__content {
        padding: 6rem 4rem; } }
  .admin__photo-section img {
    border-radius: 50%;
    width: 20rem;
    margin-top: 2.5rem;
    margin-bottom: 2rem; }

.recent-comments {
  margin-top: 8rem; }
  .recent-comments h5 {
    text-transform: none; }
  .recent-comments p {
    font-size: 1.6rem;
    color: #555;
    font-style: italic;
    padding-top: 0.3rem; }

.recent-likes {
  margin-top: 8rem; }
  .recent-likes h5 {
    text-transform: none; }
  .recent-likes p {
    font-size: 1.6rem;
    color: #555;
    font-style: italic;
    padding-top: 0.3rem; }

.in-hand-pages-message {
  font-size: 1.6rem;
  color: #555;
  font-style: italic; }

.pages-no-page-message {
  color: #555;
  font-size: 1.6rem;
  margin-top: 1rem; }

.page-new {
  background-color: #fff;
  border-radius: 5px;
  margin: 4rem auto;
  padding: 5rem 4.5rem 3rem 4.5rem;
  border: 1px solid #dbe2e8;
  box-shadow: 2px 2px 3px 0 rgba(116, 123, 129, 0.12);
  margin-top: 3rem;
  position: relative; }
  @media (max-width: 37.5em) {
    .page-new {
      padding: 5rem 2rem 3rem 2rem; } }
  @media (max-width: 26.25em) {
    .page-new {
      margin: 4rem 0.4rem;
      box-shadow: none; } }
  .page-new__types {
    margin: 6rem 2rem 2rem 2rem; }
    .page-new__types__details {
      margin-bottom: 1rem;
      padding: 0 1rem 2rem 2.5rem;
      color: #636363 !important;
      font-size: 1.6rem; }
  .page-new__contents {
    margin-top: 4rem; }
  .page-new__final-step {
    margin-top: 3rem; }
    .page-new__final-step__text {
      font-size: 1.6rem;
      color: #555;
      margin-bottom: 2rem;
      margin-top: -1rem; }

.url__display {
  font-size: 1.7rem;
  padding: 0.5rem 0;
  color: #555;
  font-weight: 300; }

.url__note {
  font-size: 1.6rem;
  padding: 1rem 0;
  font-weight: 300;
  color: #555; }
  .url__note strong {
    font-size: 1.7rem;
    font-weight: 400; }

.switches {
  margin-top: 4rem;
  margin-bottom: 3.5rem;
  color: #555;
  font-size: 1.6rem; }
  .switches__entity {
    border-bottom: 1px solid #f7f7f7;
    padding: 2rem 0; }
    .switches__entity:first-child {
      border-top: 1px solid #f7f7f7; }
    .switches__entity i {
      color: #2980b9;
      position: relative;
      font-size: 2.4rem;
      top: 4px;
      float: right; }
      .switches__entity i:hover {
        cursor: pointer; }

#js--tags-url-error-message,
#js--url-error-message,
#js--tags-error-message {
  font-size: 1.4rem;
  color: #e74c3c; }

.page {
  color: #555;
  padding: 2rem 10rem 0 0rem;
  font-size: 1.6rem; }
  @media only screen and (max-width: 1300px) {
    .page {
      padding-right: 6rem; } }
  @media only screen and (max-width: 1072px) {
    .page {
      padding: 2rem 3rem 2rem 3rem; } }
  @media only screen and (max-width: 720px) {
    .page {
      padding: 2rem 3rem; } }
  .page__header__actions {
    display: block;
    width: 100%;
    font-size: 1.7rem;
    text-align: right;
    margin-bottom: 1rem; }
  .page__header__title {
    letter-spacing: 0.1rem;
    font-weight: 300;
    word-spacing: 0.2rem;
    font-size: 3.6rem; }
  .page__header__time {
    display: block;
    font-style: italic;
    font-size: 1.5rem;
    margin-left: 5px; }
  .page__information {
    font-style: italic;
    font-size: 2rem; }
    .page__information h3 {
      font-weight: 300;
      font-size: 2.3rem; }
    .page__information div {
      margin-bottom: 2rem; }
  .page__body {
    padding: 1rem 0;
    overflow-x: hidden; }
    .page__body p {
      padding-bottom: 1.8rem;
      line-height: 3.4rem;
      font-size: 1.7rem;
      word-spacing: 0.2rem; }
    .page__body ul {
      margin-left: 2rem; }
    .page__body ol {
      margin-left: 2rem; }
  .page__tags {
    display: block;
    margin: 1rem 0 0rem 0; }
    .page__tags span {
      font-size: 1.4rem;
      margin: 1rem 0.8rem 0 0;
      display: inline-block;
      border-radius: 4px;
      background: #ececec;
      padding: 0.4rem 1rem;
      color: #555;
      transition: background 0.1s; }
      .page__tags span:hover {
        background: #dcdcdc; }
  .page__author {
    margin-top: 6rem;
    margin-bottom: 0;
    padding: 1.2rem 0;
    font-size: 1.6rem;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    display: flex;
    align-items: center; }
    .page__author img {
      height: 5rem;
      width: 5rem;
      border-radius: 50%;
      margin-right: 1.4rem; }
    .page__author__details {
      display: inline-block;
      font-size: 1.5rem;
      position: relative; }
  .page__rating {
    margin-top: 6rem;
    margin-bottom: 0;
    font-size: 1.7rem; }
    .page__rating button {
      font-size: 2rem;
      margin: 0 0.5rem; }
    .page__rating div {
      display: inline-block;
      padding: 0.8rem 0.4rem 0.8rem 0; }
  .page__links {
    margin-bottom: 5rem;
    background: #f7f7f7;
    width: 100%;
    padding: 5rem 0rem; }
  .page__comments {
    margin-top: 4rem;
    padding-top: 3rem;
    border-top: 1px solid; }
    .page__comments h2 {
      margin-bottom: 5rem; }
    .page__comments__add {
      padding-top: 3rem;
      display: block; }

.comments-wrapper {
  padding: 0 16rem 0 0; }
  @media only screen and (max-width: 1210px) {
    .comments-wrapper {
      padding: 2rem 5rem; } }
  @media only screen and (max-width: 590px) {
    .comments-wrapper {
      padding: 2rem 3rem; } }

.comment {
  border: 1px solid #dbe2e8;
  background-color: #fdfdfd;
  border-radius: 5px;
  padding: 2rem 4rem;
  margin: 4rem 0;
  display: flex;
  flex-direction: column;
  color: #555; }
  .comment .comment-reply {
    margin: 1rem 0;
    margin-left: 3rem;
    background-color: #f9f9f9; }
  .comment__header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem; }
    .comment__header__name-and-date {
      font-size: 1.4rem;
      margin-left: 1rem;
      display: flex;
      flex-direction: column;
      margin-top: 3px; }
      .comment__header__name-and-date .a-2 {
        font-style: italic; }
    .comment__header__image {
      border-radius: 50%;
      width: 5rem;
      align-self: flex-start; }
  .comment__body {
    font-size: 1.4rem;
    line-height: 2.5rem;
    padding-bottom: 0.5rem; }

.comment-in-reply-to-label {
  font-size: 1.4rem;
  color: #fff;
  background: #333;
  display: inline-block;
  padding: 0px 7px;
  border-radius: 5px;
  margin-left: 0.2rem; }

.no-comment-message {
  color: #555;
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 1.6rem;
  margin-top: -1.6rem; }

.disabled-message {
  font-style: italic;
  margin-top: 6rem; }

.disabled-message-comments {
  padding-top: 6rem;
  border-top: 1px solid #eeeeee;
  font-style: italic;
  margin-top: 6rem; }

.page__attach-files {
  margin-top: -2rem; }

.file-links {
  margin-bottom: 2rem; }

.file-link {
  color: #555;
  font-size: 1.4rem;
  margin-right: 1rem;
  margin-top: 1rem;
  border-radius: 500px;
  background-color: #f3f3f3;
  padding: 0.5rem 1.5rem;
  transition: all 0.2s;
  display: inline-block; }
  .file-link:hover {
    background-color: #f1f1f1; }
