$color-dark-blue-2: #20608a;
$color-dark-blue: #236d9d;
$color-blue: #2980b9;
$color-light-blue: #479ed7;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #fafafa;
$color-grey-light-3: #dbe2e8;

$color-text: #555;
$color-text-dark: #c8ced2;
$color-text-light: #7e7a7a;
$color-red: #e74c3c;
$color-red-dark: #c0392b;
$color-green: #2ecc71;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal-big: 8rem;
$gutter-horizontal: 6rem;
$gutter-horizontal-small: 4.5rem;

$default-box-shadow: 2px 2px 3px 0 hsla(205, 5%, 48%, 0.12);
