/* GENERAL */
body,
.body-grey {
  background-color: #424047;
}

.a-1 {
  color: #e4e4e5;
}

.a-4 {
  color: #e4e4e5;
}

.black-link {
  color: #e4e4e5;
}

a {
  color: #fff;
}

.black-link:hover,
.black-link:focus,
.black-link:active {
  color: #fff;
}

.heading-tertiary,
.heading-fourth,
.heading-fifth {
  color: #e4e4e5;
}

.normal-paragraph {
  color: #e4e4e5;
}

.small-copy {
  color: #e4e4e5;
}

.small-paragraph {
  color: #e4e4e5;
}

.mce-panel {
  background-color: #494646 !important;
}

.mce-btn i {
  text-shadow: none !important;
}

.mce-label {
  text-shadow: none !important;
  color: #e4e4e5 !important;
}

.mce-window-head .mce-title {
  color: #e4e4e5;
}

.mce-textbox {
  background: #555 !important;
  color: #e4e4e5 !important;
}

.mce-listbox button {
  background: #555 !important;
  color: #fff !important;
}

.mce-combobox input {
  background: #555 !important;
  color: #e4e4e5 !important;
}

.mce-combobox input:focus {
  outline: none;
}

#tinymce {
  background: #555 !important;
}

/* NEW PAGE */
.control {
  color: #e4e4e5;
}

.url__note {
  color: #e4e4e5;
}

.page-new__types__details {
  color: #e4e4e5 !important;
}

#myBar {
  background: #155fd0;
}

#myProgress {
  background: #b3b2b2;
}

.control input:checked ~ .control__indicator {
  background: #155fd0;
}

.control__indicator {
  border-color: #155fd0;
}

.tags-input .tag {
  background: #eee;
  border-color: transparent;
  color: #555;
}

.tags-input {
  background: #555;
}

/* EDIT PAGE */
.page-new {
  background-color: #3a383e;
  border-color: #000;
}

.url__display {
  color: #e4e4e5;
}

.switches {
  color: #e4e4e5;
}

.switches__entity {
  border-color: #000 !important;
}

.switches__entity i {
  color: #155fd0;
}

.back-button {
  color: #155fd0;
}

.back-button:hover {
  color: #165ac2;
}

/* AUTH */
.auth {
  background: #424047;
  border-color: #000;
  box-shadow: none;
}

#particles-js {
  background: #333;
}

.auth__options--register {
  background-color: #2d2b30;
  border-color: #000;
}

.auth__options--login {
  background-color: #2d2b30;
  border-color: #000;
}

.auth__options--register--active {
  border-color: #000;
}

.auth__options {
  color: #e4e4e5;
}

/* NAVIGATION */
.navigation {
  background-color: #373740;
  border-bottom: 1px solid #000000;
  border-top: 1px solid #000000;
}

.navigation a {
  color: #fff;
}

.navigation__link {
  color: #e4e4e5;
}

.navigation__link:hover {
  background-color: #2c2c33;
}

.nav-dropdown__button:hover {
  background-color: #2c2c33 !important;
}

.nav-dropdown:hover .nav-dropdown__button {
  background-color: #2c2c33 !important;
}

.navigation__link--active {
  background-color: #2c2c33;
}

.nav-dropdown__content {
  background-color: #373740;
  border: 1px solid #000;
}
.nav-dropdown__content a {
  color: #e4e4e5;
}

.nav-dropdown__content a:hover {
  background-color: #2c2c33;
}

.navigation-sm__hidden a:hover {
  background-color: #2c2c33;
}

.nav-dropdown-slider__content {
  background-color: #373740;
}

.nav-dropdown-slider__button--active {
  background-color: #2c2c33;
}

/* FOOTER */
.footer {
  background: #373740;
  border-color: #000000;
}

.footer__link a {
  color: #e4e4e5;
}

.footer__theme-text {
  color: #e4e4e5;
}

/* MODALS */
.cupertino-modal {
  background: rgba(0, 0, 0, 0.8);
  color: #e4e4e5;
}

.mdl__content {
  background: #555;
}

.mdl__header {
  background: #474545;
  color: #e4e4e5;
  border-color: #000;
}

.mdl__body {
  color: #e4e4e5;
}

.mdl .mdl__close:hover,
.mdl .mdl__close:visited {
  color: #fff;
}

.lds-spinner div {
  background: #e4e4e5;
}

/* FORM AND BUTTONS */
.form__label {
  color: #e4e4e5;
}

.form__input,
.form__textarea {
  color: #e4e4e5;
  background: #555;
  border-color: #bababa;
}

.form__input:focus,
.form__textarea:focus {
  border-color: #fff;
}

.btn-round-full {
  background: #155fd0;
  border-color: #3f3d43;
  color: #dcdcdd;
}

.btn-round-full:hover,
.btn-round-full:active,
.btn-round-full:focus {
  background: #165ac2 !important;
  border-color: #3f3d43 !important;
  color: #dcdcdd;
}

.btn-round:hover:enabled,
.btn-round:active:enabled,
.btn-round:focus:enabled {
  background: #165ac2 !important;
  border-color: #3f3d43 !important;
  color: #dcdcdd;
}

.btn-round-sm:hover,
.btn-round-sm:active,
.btn-round-sm:focus {
  background: #165ac2 !important;
  border-color: #3f3d43 !important;
  color: #dcdcdd;
}

.btn-round {
  background: #155fd0;
  border-color: #3f3d43;
  color: #dcdcdd;
}

.btn-round-danger {
  color: #fff;
  background: #e74c3c;
  border: 1px solid #e74c3c;
}

.btn-normal {
  background: #155fd0;
  border-color: #3f3d43;
  color: #dcdcdd;
}

.btn-normal:hover:enabled,
.btn-normal:active:enabled,
.btn-normal:focus:enabled {
  background: #165ac2;
  color: #dcdcdd;
  border-color: #3f3d43;
}

.btn-icon {
  color: #dcdcdd;
}

.btn-icon:hover,
.btn-icon:active,
.btn-icon:focus {
  color: #fff;
}

.btn-link {
  color: #fff;
}

.btn-link:hover,
.btn-link:active,
.btn-link:focus {
  color: #fff;
  border-color: #fff;
}

.btn-normal-danger {
  color: #fff;
  background: #e74c3c;
  border: 1px solid #e74c3c;
}

.btn-normal-danger:hover:enabled {
  border: 1px solid #c0392b;
  background: #c0392b;
}

.btn-round-danger:hover:enabled,
.btn-round-danger:focus:enabled,
.btn-round-danger:active:enabled {
  border: 1px solid #c0392b !important;
  background: #c0392b !important;
}

.image__upload--label:hover {
  background: #4b4848;
}

input:checked + .slider {
  background-color: #155fd0;
}

/* SHOW PAGE */
.page {
  color: #e4e4e5;
}

.page__tags span {
  background: #6a6e72;
  color: #fff;
}

.page__tags span:hover,
.page__tags span:active,
.page__tags span:focus {
  background: #5d6165;
  color: #fff;
}

.page__author {
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
}

.comment {
  background-color: #6a696e;
  border: 1px solid #818085;
  color: #ebebec;
}

.page__comments {
  border-top: 1px solid #000;
}

.comment .comment-reply {
  color: #ebebec;
  background-color: #727176;
  border: 1px solid #818085;
}

.no-comment-message {
  color: #ebebec;
}

.disabled-message-comments {
  border-color: #000000;
}

.pagination__number--active {
  background: #155fd0;
  color: #dcdcdd;
}

/* ADMIN */
.box__to-action {
  background: #333;
  border-color: #000;
}

.box__to-action p {
  color: #ebebec;
}

.recent-comments p,
.recent-likes p {
  color: #ebebec;
}

.input__group div {
  background: #666666;
  color: #fff;
}

.sidebar {
  background: #333;
  border-right: 1px solid #000;
}

.btn-lined-not-active {
  border-color: #eee !important;
  color: #eee !important;
}

.btn-lined {
  border-color: #155fd0;
  color: #155fd0;
}

.page-thumbnail {
  color: #ebebec;
  background-color: #555;
  box-shadow: none;
  border: 1px solid #000;
}

.page-thumbnail__type {
  color: #555;
  background: #eee;
}

.page-thumbnail:hover,
.page-thumbnail:visited {
  box-shadow: 2px 5px 5px 0 rgba(0, 0, 0, 0.2);
}

.cupertino-modal__actions button {
  background: rgba(0, 0, 0, 0.09);
  border-color: rgba(255, 255, 255, 0.09);
  color: #fff;
}

.cupertino-modal__actions button:hover,
.cupertino-modal__actions button:focus {
  background: rgba(255, 255, 255, 0.09);
}

.cupertino-modal__actions button:first-child {
  border-color: rgba(255, 255, 255, 0.09);
}

.cupertino-modal__actions {
  border-color: rgba(255, 255, 255, 0.09);
}

.page-thumbnail--selected::after {
  border-color: #155fd0;
}

.btn-text {
  color: #155fd0;
}

.btn-text:hover,
.btn-text:focus,
.btn-text:active {
  color: #1355ba;
}

.btn-text--red {
  color: #e74c3c;
}

.btn-text--red:hover,
.btn-text--red:focus {
  color: #c0392b;
}

.sidebar__opener .bar {
  background: #fff;
}

@media (max-width: 62.5em) {
  .side-nav__logo span {
    color: #ebebec;
  }

  .sidebar__closer {
    color: #ebebec;
  }

  .side-nav__item--active {
    background: #262626;
  }

  .sidebar__closer:hover,
  .sidebar__closer:active,
  .sidebar__closer:focus {
    color: #fff;
  }

  .side-nav__item a:hover {
    color: #fff;
  }

  .side-nav__item a {
    color: #ebebec;
  }
}
