.admin {
  display: flex;

  &__empty {
    width: 24rem;
    flex-shrink: 0;

    @media (max-width: 62.5em) {
      width: 0;
    }
  }

  &__footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &__content {
    padding: 4rem 24rem 4rem 8rem;
    width: 100%;
    position: relative;

    @media (max-width: 1745px) {
      padding: 4rem 5rem;
    }

    @media (max-width: 62.5em) {
      position: unset;
    }

    @media (max-width: 87.5em) {
      padding: 6rem 4rem;
    }
  }

  &__photo-section {
    & img {
      border-radius: 50%;
      width: 20rem;
      margin-top: 2.5rem;
      margin-bottom: 2rem;
    }
  }
}

.recent-comments {
  margin-top: 8rem;

  & h5 {
    text-transform: none;
  }

  & p {
    font-size: $default-font-size;
    color: $color-text;
    font-style: italic;
    padding-top: 0.3rem;
  }
}

.recent-likes {
  margin-top: 8rem;

  & h5 {
    text-transform: none;
  }

  & p {
    font-size: $default-font-size;
    color: $color-text;
    font-style: italic;
    padding-top: 0.3rem;
  }
}

.in-hand-pages-message {
  font-size: $default-font-size;
  color: $color-text;
  font-style: italic;
}

.pages-no-page-message {
  color: $color-text;
  font-size: 1.6rem;
  margin-top: 1rem;
}
