.header-nav {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  color: $color-text;

  &__actions {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.4rem;

    .btn-text {
      padding: 1rem 2rem;
      &:last-child {
        padding-right: 0;
        padding-left: 0;
        margin-left: 2rem;
      }
    }
  }
}

.collection-show {
  font-size: 1.6rem;
  color: $color-text;

  &__name {
    font-weight: 700;
    font-size: 2.2rem;
  }

  &__no-page-msg {
    font-style: italic;
    margin-bottom: 0.5rem;
    color: $color-text;
    font-size: 2rem;
    margin-top: 3rem;
  }

  &__desc {
    margin-bottom: 0.5rem;
  }

  &__creator {
    font-weight: 700;
    margin-bottom: 2rem;
    color: rgba($color: $color-text, $alpha: 0.75);
  }
}
