.show-private {
	padding: 2rem 1rem;
	background: #fff;
	border-radius: 5px;
	color: $color-text;
	box-shadow: $default-box-shadow;
	overflow-x: hidden;

	ul {
		margin-left: 2rem;
	}

	ol {
		margin-left: 2rem;
	}

	&__actions {
		text-align: right;
		margin-right: 2rem;
	}

	&__contents {
		margin-top: -1.9rem;
		padding-left: 1.4rem;
	}

	&__title {
		letter-spacing: 0.1rem;
		font-weight: 300;
		word-spacing: 0.2rem;
		font-size: 2.6rem;
	}

	&__time {
		display: block;
		font-style: italic;
		font-size: 1.5rem;
	}

	&__description {
		font-style: italic;
		font-size: 2rem;
		padding-top: 0.5rem;
	}

	&__body {
		padding-top: 0.5rem;
		font-size: $default-font-size;
	}
}
