*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 10px; // 1rem = 10px;

  @include respond(md) {
    font-size: 9px; //1rem = 9px
  }

  @include respond(sm) {
    font-size: 8px; //1rem = 8px
  }
}

body {
  box-sizing: border-box;
  min-height: 100vh;
  position: relative;
  padding-top: 6rem;

  @media only screen and (max-width: 700px) {
    margin-left: 0 !important;
  }
}

.body-grey {
  background-color: $color-grey-light-1;
}

img {
  max-width: 100%;
  height: auto;
}

.hr {
  border: none;
  background: #ccc;
  height: 1px;
}