.a-1 {
  padding-top: 7rem;
  font-weight: 300;
  color: $color-text;
  font-size: 2.8rem;
}

// container div for private pages
.a-2 {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

// container div for pages section in admin
.a-3 {
  display: flex;
  flex-wrap: wrap;
}

.a-4 {
  padding-top: 7rem;
  font-weight: 300;
  color: $color-text;
  font-size: 2.4rem;
}

.a-5 {
  padding-top: 0.1rem;
}

.a-6 {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.a-8 {
  min-height: 100vh;
}

.a-9 {
  font-size: 1.4rem;
  color: $color-text;
  margin: 2.5rem 0 0.5rem 0;
}

// Error message in choosing a url
.a-10 {
  font-size: 1.4rem;
  color: $color-red;
  margin-top: 0.3rem;
  display: inline-block;
}

// Back button on new page
.a-11 {
  top: 1.8rem;
  position: absolute;
  left: 1.3rem;
}

// Inline buttons in admin
.a-12 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 0;

  @media (max-width: 500px) {
    flex-direction: column;
  }
}

// No page and subscription message for read later list
.a-13 {
  font-size: 1.7rem;
  color: #555;
  margin-top: 1.5rem;
  font-style: italic;
}

// No collection message in main
.a-14 {
  font-size: 1.6rem;
  color: $color-text;
  margin-bottom: 10rem;
  font-style: italic;
}

// Move left and right buttons container
.a-15 {
  font-size: 2rem;
  margin-bottom: 1.5rem;

  button {
    margin: 0 2rem;
    i {
      margin: 0 0.3rem;
    }
  }
}

// Header in comment section
.a-16 {
  display: flex;
  justify-content: center;
  align-items: center;

  button:first-child {
    margin-right: 0.5rem;
  }

  button {
    margin-top: 0.2rem;
    margin-left: 0.5rem;
  }
}

// The label on comment replies that indicate who user has replied to
.a-17 {
  margin-right: 0.8rem;
  background: #000;
  border-radius: 4px;
  padding: 0.3rem 0.9rem;
  font-size: inherit;
  color: #fff;
}

// paragraph in page-thumbnail section of new page
.a-18 {
  color: $color-text;
  font-size: 1.6rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

// the help icon (tooltip) for the textarea inputs
.form-text .tooltip.a-19 {
  top: 26%;
}