.u-text-center {
  text-align: center !important;
  width: 100%;
}

.u-flex-text-center {
  display: flex;
  justify-content: center;
}

.u-flex-text-right {
  display: flex;
  justify-content: right;
}

.right-content {
  width: 100%;
  text-align: right !important;
}

.center-content {
  width: 100%;
  text-align: center;
}

.left-content {
  width: 100%;
  text-align: left;
}

.visibility-hidden {
  visibility: hidden !important;
}

.disable-none {
  display: none !important;
}

.display-none-normall {
  display: none;
}

.display-none {
  display: none !important;
}

.display-flex {
  display: flex !important;
}

.display-inline-block {
  display: inline-block !important;
}

.float-right {
  float: right;
}

.margin-right-3px {
  margin-right: 3px !important;
}

.margin-right-1 {
  margin-right: 1rem !important;
}

.margin-left-3 {
  margin-left: 3rem;
}

.margin-left-2 {
  margin-left: 2rem;
}

.u-margin-left-03 {
  margin-left: 0.3rem !important;
}

.u-margin-left-05 {
  margin-left: 0.5rem !important;
}

.margin-left-07 {
  margin-left: 0.7rem !important;
}

.margin-top-5px {
  margin-top: 5px;
}

.margin-top-1 {
  margin-top: 1rem !important;
}

.margin-top-1-5 {
  margin-top: 1.5rem !important;
}

.margin-top-2 {
  margin-top: 2rem !important;
}

.margin-top-3 {
  margin-top: 3rem !important;
}

.margin-top-4 {
  margin-top: 4rem !important;
}

.margin-bottom-0 {
  margin-bottom: 0rem !important;
}

.margin-bottom-08 {
  margin-bottom: 0.8rem !important;
}

.margin-bottom-1 {
  margin-bottom: 1rem !important;
}

.u-margin-bottom-2 {
  margin-bottom: 2rem !important;
}

.margin-bottom-2 {
  margin-bottom: 2rem !important;
}

.margin-bottom-6 {
  margin-bottom: 6rem !important;
}

.no-transform {
  transform: none;
  &:hover {
    transform: none !important;
  }

  &:focus {
    transform: none !important;
  }
}

.italic {
  font-style: italic !important;
}

.margin-bottom-0 {
  margin-bottom: 0 !important;
}

.text-green {
  color: #fff;
  border-radius: 5px;
  background-color: $color-green;
  padding: 0.2rem 0.6rem;
  display: inline-block;
  font-size: 1.4rem;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.text-orange {
  color: #fff;
  border-radius: 5px;
  background-color: $color-orange;
  padding: 0.2rem 0.6rem;
  display: inline-block;
  font-size: 1.4rem;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.u-two-item-row {
  display: block;

  &--1 {
    display: inline-block;
    @media only screen and (max-width: 500px) {
      display: block;
    }
  }

  &--2 {
    display: inline-block;
    float: right;

    @media only screen and (max-width: 500px) {
      margin-top: 2rem;
      display: block;
    }
  }
}

.u-justify-content-space-between {
  justify-content: space-between;
}
